.lk-form{
	width: 600px;
	margin: 0 auto;
	.lk-form__left{
		float: left;
		width: 50%;
		padding: 0 40px 0 0;
	    border-right: 1px solid #dfdfdf;
	}
	.lk-form__right{
		float: right;
		width: 50%;
		padding: 0 0 0 40px;
	}
	&.lk-form-sm-12{
		width: 100%;
		margin: 0;
		padding: 40px 0px 0px;
		h1, h2{
			font-size: 24px;
			text-transform: none;
			line-height: 1.2;
			text-align: left;
			padding: 0 0 30px;
		}
	}
	&:after{
		content: '';
		clear: both;
		display: block;
	}
}

.login-form{
	.login-form__item{
		position: relative;
		padding: 20px 0px 0px;
	}
	.login-form__link{
		position: absolute;
		top: 2px;
	    right: 10px;
	    color: rgba(0, 0, 0, 0.8);
	    font-size: 13px;
	    font-family: $m500;
	    line-height: 1;
	    text-decoration: underline;
	}
}

.new-reg{
	h2{
		text-align: left;
		font-family: $g;
		img{
			height: 30px;
			margin: 0 0 0 15px;
		}
	}
	.but-black{
		width: 205px!important;
		height: 50px!important;
		}
	.new-reg__text{
		color: rgba(0, 0, 0, 0.8);
		font-size: 16px;
		font-family:$m500;
	    line-height: 1.5;
	    ul{
	    	li{
	    		padding: 0 0 10px;
	    	}
	    }
		p{
			margin: 0 0 12px;
		}
	}
	.but{
		width: auto;
		padding: 0 40px;
		text-align: center;
	}
}

.form-white{
	.form-group{
		margin: 0 0 30px;
		label{
			display: none;
		}
		input, textarea{
			width: 100%;
			height: 46px;
			border: 1px solid #dcdcdc;
			background: transparent;
			color: rgba(0, 0, 0, 1);
			font-size: 14px;
			font-family: $m500;
			border-radius:0;
			box-shadow:none;
			&::-webkit-input-placeholder{
				color: rgba(0, 0, 0, 0.6);
			}
			&::-moz-placeholder{
				color: rgba(0, 0, 0, 0.6);
			}
			&:-moz-placeholder{
				color: rgba(0, 0, 0, 0.6);
			}
			&:-ms-input-placeholder{
				color: rgba(0, 0, 0, 0.6);
			}
			&.error{
				color: #a94442;
				border: 1px solid #a94442;
				&::-webkit-input-placeholder{
					color: #a94442;
				}
				&::-moz-placeholder{
					color: #a94442;
				}
				&:-moz-placeholder{
					color: #a94442;
				}
				&:-ms-input-placeholder{
					color: #a94442;
				}
			}
			&:hover, &:focus, &:active{
				outline: 0;
				box-shadow:none;
			}
		}
		textarea{
			border-radius: 0;
			max-width: 100%!important;
			min-width: 100%!important;
			min-height: 65px!important;
			max-height: 65px!important;
		}
		&.form-group-white{
			.input-group{
				position: relative;
				display: block;
				.input-group-addon{
					position: absolute;
					z-index: 2;
					top: 1px;
					left: 1px;
					display: block;
					width: 45px;
					line-height: 48px;
				    border: none;
					padding: 0px;
					text-align: center;
					background: rgba(0, 0, 0, 0.8);
				   border-radius: 0;
				}
				input{
					z-index: 1;
					display: block;
					width: 100%;
					padding: 0 0 0 45px;
				}
			}
		}
	}
	.password-form-group {
		.input-group{
			position: relative;
			display: block;
			width: 100%;
			.input-group-addon, .input-group-btn, .form-control{
				display: block;
				float: none;
			}
		}
		.input-group-addon{
			position: absolute;
			z-index: 3;
			top: 50%;
			right: 15px;
			width: auto;
			padding: 0;
			color: #737171;
			background-color: transparent;
		    border: none;
		    border-radius: 0;
		    transform:translateY(-50%);
		    &:hover, &:focus, &:active{
		    	cursor: pointer;
		    	color: rgba(0, 0, 0, 0.8);
		    }
		}
	}
	.checkbox{
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		height: 30px;
		min-height: 30px;
		margin: 17px 0px 0px;
	    padding-left: 0px;
		input[type="checkbox"] {
		    position: absolute;
		    left: -9999px;
		}
		input[type="checkbox"] + label {
		    background: url(../images/checkbox.png) 0 0 no-repeat;
		    padding-left: 30px;
		    height: 18px;
		}
		input[type="checkbox"]:checked + label {
		    background-position: 0 -20px;
		}
		label{
			color: rgba(0, 0, 0, 0.8);
			font-size: 12px;
			font-family:$m500;
			line-height: 20px;
			letter-spacing: 0.9px;
			span{
				position: relative;
				top: -8px;
			}
			a{
				color: rgba(0, 0, 0, 0.8);
				border-bottom: 1px solid rgba(0, 0, 0, 0.8);
				transition:all .3s ease;
				&:hover, &:focus, &:active{
					color: #814fa4;
					border-color: #814fa4;
				}
			}
		}
		.help-block{
		    position: absolute;
		    top: 26px;
		    letter-spacing: 0px;
		}
	}
	.form-bot{
		display: table;
		width: 100%;
		margin: 17px 0px 0px;
		.form-captcha{
			display: table-cell;
			vertical-align: middle;
			width: 300px;
			height: 74px;
			border-radius: 4px;
			.help-block{
				position: absolute;
				display: block;
			}
		}
		.form-button{
			display: table-cell;
			vertical-align: middle;
			padding: 0px 0px 0px 20px;
		}
		&:after{
			content: '';
			clear: both;
			display: block;
		}
	}
	.help-block{
		display: none;
		margin: 0px!important;
	    color: #a94442;
		font-size: 12px;
		font-family:$m500;
		text-align: center;
	}
	input[type="submit"], button{
		position: relative;
		width: 100%;
		height: 50px;
		padding: 0;
		border: none;
		&:hover, &:focus, &:active{
			outline: 0;
		}
	}
	.terms_of_use{
		width: 100%;
		margin: 30px auto 0px;
		color: rgba(0, 0, 0, 0.8);
		font-size: 12px;
		font-family:$m500;
		text-align: center;
		letter-spacing: -0.2px;
	}
	.radio-list, .checkbox-list{
		.checkbox-inline{
			width: auto;
			padding: 0 35px 0 0;
			input[type="checkbox"]{
			    &:not(:checked), &:checked{
					& + label {
						width: auto;
					}
			    }
			}
		}
	}
	.radio-inline{
		position: relative;
		display: inline-block;
		margin: 0;
		padding: 0 35px 0px 0px;
		left: -2px;
		input[type="radio"]{
			vertical-align: top;
			width: 14px;
			height: 14px;
			margin: 0;
			& + label {
				position: relative;
				width: auto;
	            color: rgba(0, 0, 0, 0.8);
	            font-size:18px;
				font-family:$m500;
				line-height: 15px;
				letter-spacing: 0.36px;
		        font-weight: normal;
	            padding: 0 0 0 25px;
	            cursor: pointer;
			}
			&:not(checked) {
				position: absolute;
				opacity: 0;
				& + label {
					&:before {
		                content: '';
		                position: absolute;
		                left: 4px;
		                top: 5px;
		                width: 6px;
		                height: 6px;
		                background: #814fa4;
		                opacity: 0;
		                border-radius: 50%;
		                transition:all .3s linear;
		            }
		            &:after {
		                content: '';
		                position: absolute;
		                left: 0;
		                top: 1px;
		                width: 14px;
		                height: 14px;
		                border: 1px solid #cccccc;
		                background: transparent;
		               border-radius: 50%;
		                transition:all .3s linear;
		            }
				}
			}
			&:checked{
				& + label{
					&:before {
						opacity: 1;
					}
				}
			}
		}
	}
	.checkbox-inline{
		display: inline-block;
    	vertical-align: top;
		min-height: 30px;
		margin: 0;
		padding: 0 0 0 15px;
		input[type="checkbox"]{
		    &:not(:checked), &:checked{
		        position: absolute;
		        left: -9999px;
		        & + label {
		            position: relative;
		            color: rgba(0, 0, 0, 0.8);
		            font-size:18px;
					font-family:$m500;
					line-height: 16px;
					letter-spacing: 0.36px;
			        font-weight: normal;
		            padding: 0 0 0 25px;
		            cursor: pointer;
		            &:before {
		                content: '';
		                position: absolute;
		                left: 4px;
		                top: 5px;
		                width: 6px;
		                height: 6px;
		                background: #814fa4;
		               border-radius: 50%;
		                transition:all .3s linear;
		            }
		            &:after {
		                content: '';
		                position: absolute;
		                left: 0;
		                top: 1px;
		                width: 14px;
		                height: 14px;
		                border: 1px solid #cccccc;
		                background: transparent;
		                transition:all .3s linear;
		            }
		        }
		    }
		    &:not(:checked){
		        & + label {
		            &:before {
						background: transparent;
					}
		        }
		    }
		    &:checked{
		        & + label {
		            &:before {
						background: #814fa4;
					}
		        }
		    }
		}
	    &.checkbox-inline-right{
	    	padding: 10px 0px 7px;
	    	input[type="checkbox"]{
			    &:not(:checked), &:checked{
					& + label {
						padding: 0 25px 0 0;
						&:before {
							left: auto;
							right: 4px;
						}
			            &:after {
			            	left: auto;
							right: 0;
						}
			        }
			    }
			}
	    }
	}
	.file-upload {
		display: block;
		width: 100%;
		height: 39px;
		line-height: 39px;
		background: rgba(0, 0, 0, 0.1);
		margin: 10px 0px 0px;
		text-align: center;
		input[type="file"]{
		    display: none;
		}
		label {
			font-weight: normal;
			cursor: pointer;
		}
		span {
			color: rgba(0, 0, 0, 0.8);
			font-size: 16px;
			font-family:$m500;
			line-height: 39px;
			text-transform: uppercase;
		}
	}

	&.form-label{
		.form-group{
			margin: 0 0 20px;
			label{
				display: none;

			}
			input, textarea, .input-group{
				display: block;
				width: 100%;
			}
			input, textarea{
				color: rgba(0, 0, 0, 1);
				font-size: 16px;
				letter-spacing: 0.34px;
			}
			&.form-group-radio{
				margin: 0 0 30px;
				& > label{
					width: 70px;
				}
				label{
					display: inline-block;
					margin: 0 0 5px;
					color: rgba(0, 0, 0, 0.8);
					font-size: 16px;
					font-family:$m500;
					line-height: 16px;
					letter-spacing: 0.34px;
					font-weight: normal;
				}
				.input-group{
					display: inline-block;
					vertical-align: middle;
					width: calc(100% - 76px);
				}
			}
		}
	}
}

@media (max-width: 1300px){
	.lk-form{
		.lk-form__left{
			padding: 0 30px 0 0;
		}
		.lk-form__right{
			padding: 0 0 0 30px;
		}
	}
	.lk-form{
		&.lk-form-sm-12{
			h1, h2{
				font-size: 22px;
				line-height: 1.2;
				padding: 0 0 30px;
			}
		}
	}
	.form-white{
		.form-group{
			input, textarea{
				height: 42px;
			}
		}
		.file-upload {
			height: 36px;
			line-height: 36px;
			span {
				font-size: 14px;
				line-height: 36px;
			}
		}
		input[type="submit"], button{
			height: 48px;
		}
	}
}

@media (max-width: 1100px){
	.lk-form{
		width: 600px;
		margin: 0 auto;
		.lk-form__left{
			width: 100%;
			padding: 0;
			border: none;
		}
		.lk-form__right{
			width: 100%;
			padding: 50px 0px 0px;
		}
		&.lk-form-sm-12{
			width: 600px;
			margin: 0 auto;
			padding: 40px 0px 0px;
			h1, h2{
				font-size: 20px;
				padding: 0 0 25px;
			}
		}
	}
	.new-reg{
		.new-reg__text{
			font-size: 14px;
		    line-height: 1.3;
		    ul{
		    	li{
		    		padding: 0 0 10px;
		    	}
		    }
		}
		.but{
			padding: 0 40px;
		}
	}
	.form-white{
		.form-group{
			input, textarea{
				height: 40px;
			}
		}
		.password-form-group {
			.input-group-addon{
			 	-webkit-appearance: listbox;
			 	pointer-events: all;
			 	i{
			 		pointer-events: none;
			 		&:before{
			 			pointer-events: none;
			 		}
			 	}
			}
		}
		input[type="submit"], button{
			height: 46px;
		}
	}
}

@media (max-width: 768px){
	.form-white{
		.form-group{
			input, textarea{
				height: 36px;
			}
		}
		input[type="submit"], button{
			height: 40px;
		}
	}
}

@media (max-width: 640px){
	.lk-form{
		width: 100%;
		&.lk-form-sm-12{
			width: 100%;
		}
		.form-group{
			input {
				height: 36px;
				font-size: 13px;
				padding: 6px 15px;
			}
		}
	}
	.new-reg{
		.but{
			width: 100%;
			padding: 0 20px;
		}
	}
	.form-white{
		.form-group{
			input, textarea{
				font-size: 13px;
				// height: 32px;
			}
		}
		.file-upload {
			height: 36px;
			line-height: 36px;
			span {
				font-size: 13px;
				line-height: 36px;
			}
		}
		input[type="submit"], button{
			height: 36px;
		}
	}
}

@media (max-width: 480px){
	.lk-form{
		&.lk-form-sm-12{
			h1, h2{
				line-height: 1.5;
			}
		}
	}
	.new-reg{
		h2{
			line-height: 1.5;
		}
	}
	.form-white{
		.form-bot{
			display: block;
			width: 100%;
			margin: 17px 0px 0px;
			.form-captcha{
				position: relative;
				display: block;
				vertical-align: middle;
				width: 300px;
				height: 74px;
				border-radius:4px;
				.help-block{
					position: absolute;
					display: block;
				}
			}
			.form-button{
				display: block;
				vertical-align: middle;
				padding: 40px 0px 0px;
			}
		}
	}
}

@media (max-width: 400px){
	.lk-form{
		width: 100%;
		&.lk-form-sm-12{
			width: 100%;
		}
	}
}