.slide-box {
  margin-bottom: 0 !important;
  /************/ }
  .slide-box .slide-box__item {
    position: relative; }
    .slide-box .slide-box__item .slide-box__img {
      position: relative; }
    .slide-box .slide-box__item .container {
      top: 86px;
      position: relative;
      z-index: 300; }
    .slide-box .slide-box__item .slide-box__text {
      position: absolute;
      padding-left: 20px; }
      .slide-box .slide-box__item .slide-box__text .slide-box__name {
        font-size: 35px;
        color: #fff;
        font-family: m700; }
      .slide-box .slide-box__item .slide-box__text .main-text {
        font-family: m900;
        font-size: 46px;
        color: #fff;
        line-height: 1.2; }
      .slide-box .slide-box__item .slide-box__text .slide-desc {
        font-size: 16px;
        color: #fff;
        font-family: m500;
        margin-top: 20px;
        margin-bottom: 35px; }
      .slide-box .slide-box__item .slide-box__text .btns {
        display: flex;
        align-items: center;
        font-size: 16px; }
        .slide-box .slide-box__item .slide-box__text .btns .site_btn {
          width: 250px;
          height: 50px;
          margin-right: 47px;
          position: relative; }
          .slide-box .slide-box__item .slide-box__text .btns .site_btn a {
            color: #fff;
            margin-right: 19px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 2;
            text-decoration: none !important; }
          .slide-box .slide-box__item .slide-box__text .btns .site_btn svg {
            z-index: 1;
            width: 20px;
            height: 16px;
            position: absolute;
            right: 20px; }
        .slide-box .slide-box__item .slide-box__text .btns .slide_btn-wrap {
          display: flex;
          align-items: center; }
          .slide-box .slide-box__item .slide-box__text .btns .slide_btn-wrap a {
            margin-right: 17px;
            color: #fff;
            text-decoration: underline; }
          .slide-box .slide-box__item .slide-box__text .btns .slide_btn-wrap svg {
            width: 20px;
            height: 16px; }
    .slide-box .slide-box__item .slide-box__img .slide_xs_img {
      display: none; }
  .slide-box .prev {
    top: 50%;
    left: 10%;
    z-index: 100;
    opacity: .7;
    transform: translate(0, -50%); }
  .slide-box .next {
    bottom: 50%;
    right: 10%;
    left: unset !important; }

.slider_wrapp {
  position: relative;
  height: 485px; }
  .slider_wrapp .counter-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .slider_wrapp .counter-container .counter_text {
      color: rgba(255, 255, 255, 0.8);
      line-height: 1.1;
      font-size: 14px;
      font-family: m500;
      position: relative;
      left: -70px;
      top: -165px; }
    .slider_wrapp .counter-container .counter {
      font-family: m700;
      color: #bcbcbc;
      font-size: 25px;
      position: relative;
      top: -180px; }
      .slider_wrapp .counter-container .counter .key-counter {
        color: #fff;
        font-size: 35px; }
      .slider_wrapp .counter-container .counter .slick-dots {
        position: static;
        width: auto;
        height: auto;
        display: flex;
        margin-top: 5px; }
        .slider_wrapp .counter-container .counter .slick-dots li {
          display: flex;
          align-items: center;
          width: auto;
          height: auto;
          background: transparent;
          padding: 5px 0 !important;
          margin-right: 15px; }
          .slider_wrapp .counter-container .counter .slick-dots li:last-child {
            margin-right: 0; }
          .slider_wrapp .counter-container .counter .slick-dots li.slick-active button {
            background: #fff; }
          .slider_wrapp .counter-container .counter .slick-dots li button {
            padding: 0;
            width: 41px;
            height: 2px;
            background: #bcbcbc; }

@media (max-width: 1750px) {
  .slide-box .prev {
    left: 5%; }
  .slide-box .next {
    right: 5%; } }
@media (max-width: 1550px) {
  .slide-box .prev {
    left: 1%; }
  .slide-box .next {
    right: 1%; } }
@media (max-width: 1366px) {
  .slide-box .slide-box__item .slide-box__text {
    left: 100px;
    padding-left: 0; } }
@media (max-width: 1199px) {
  .slide-box .slide-box__item .slide-box__text {
    left: 20px; } }
@media (max-width: 1100px) {
  .slide-box .slide-box__item .slide-box__text {
    left: 100px; } }
@media (max-width: 991px) {
  .slide-box .slide-box__item .container {
    top: 40px; }
  .slide-box .slide-box__item .slide-box__text {
    left: 20px; }

  .slider_wrapp .counter-container {
    left: 0; }
    .slider_wrapp .counter-container .counter {
      top: -100px; }
    .slider_wrapp .counter-container .counter_text {
      left: 230px;
      top: -146px; } }
@media (max-width: 850px) {
  .slide-box .slide-box__item .slide-box__text {
    left: 70px; } }
@media (max-width: 767px) {
  .slide-box .slide-box__item .slide-box__text .main-text {
    font-size: 35px; }

  .slider_wrapp .counter-container {
    left: 25%; } }
@media (max-width: 650px) {
  .slide-box .slide-box__item .slide-box__text {
    top: 80px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4); }
  .slide-box .slide-box__item .slide-box__img {
    position: relative;
    height: 485px; }
    .slide-box .slide-box__item .slide-box__img .slide_md_img {
      display: none; }
    .slide-box .slide-box__item .slide-box__img .slide_xs_img {
      display: block !important;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover; }
  .slide-box .slide-box__item .slide-box__text .main-text {
    font-size: 35px; }

  .slider_wrapp .counter-container {
    display: none; } }
@media (max-width: 550px) {
  .slide-box .slide-box__item .slide-box__text {
    top: 40px;
    left: 20px; }
    .slide-box .slide-box__item .slide-box__text .btns {
      align-items: flex-start;
      flex-direction: column; }
      .slide-box .slide-box__item .slide-box__text .btns .site_btn {
        order: 2;
        margin-top: 1.5rem; }
        .slide-box .slide-box__item .slide-box__text .btns .site_btn a {
          margin-right: 0; } }
@media (max-width: 407px) {
  .slide-box .slide-box__item .slide-box__text .slide-box__name {
    font-size: 20px; }
  .slide-box .slide-box__item .slide-box__text .main-text {
    font-size: 30px; }
  .slide-box .slide-box__item .slide-box__text .btns {
    align-items: flex-start;
    flex-direction: column; }
    .slide-box .slide-box__item .slide-box__text .btns .site_btn {
      order: 2;
      margin-top: 1.5rem; }
      .slide-box .slide-box__item .slide-box__text .btns .site_btn a {
        margin-right: 0; } }
.widget-container {
  margin-top: 45px;
  border-bottom: 1px solid #E4E6F2;
  position: relative; }

.widget-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
  position: relative; }
  .widget-header .btn-link {
    width: 211px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    color: #4D565F;
    margin-right: 125px;
    font-family: m500;
    text-decoration: none !important; }
    .widget-header .btn-link.nomargin {
      margin-right: 0; }

.solutuion-box {
  margin-right: -30px;
  margin-bottom: 40px;
  /**************/ }
  .solutuion-box .prev {
    position: absolute;
    top: -73px;
    right: 91px; }
  .solutuion-box .next {
    right: 30px; }

.solutuion-box__item {
  margin-right: 30px;
  display: block;
  text-decoration: none !important;
  position: relative; }
  .solutuion-box__item span {
    display: block; }
  .solutuion-box__item .solution-box__item__innerBox {
    width: 300px; }
    .solutuion-box__item .solution-box__item__innerBox .solutuion-box__item__name {
      font-size: 18px;
      color: #373E44;
      font-family: m700;
      margin-top: 16px; }
    .solutuion-box__item .solution-box__item__innerBox .solutuion-box__item__img img {
      border-radius: 10px; }

@media (max-width: 1365px) {
  .solutuion-box__item .solution-box__item__innerBox {
    width: 100%; }
    .solutuion-box__item .solution-box__item__innerBox .solutuion-box__item__img {
      display: block; }
      .solutuion-box__item .solution-box__item__innerBox .solutuion-box__item__img img {
        width: 100% !important; } }
@media (max-width: 991px) {
  .widget-header .page_title {
    width: 100%;
    margin-bottom: 1rem; } }
@media (max-width: 350px) {
  .widget-header .btn-link {
    margin-right: 0; } }
.catalog-section {
  margin-top: 29px; }
  .catalog-section .store-link {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 40px;
    font-family: m500;
    color: #989898;
    text-decoration: underline; }
  .catalog-section .container {
    border-bottom: 1px solid #D9DAE4; }

.catalog-home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px; }
  .catalog-home .catalog-home__item {
    text-decoration: none !important; }
    .catalog-home .catalog-home__item:nth-child(1), .catalog-home .catalog-home__item:nth-child(5), .catalog-home .catalog-home__item:nth-child(7) {
      grid-column: span 2; }
    .catalog-home .catalog-home__item .catalog-home__name {
      font-family: m700;
      color: #373E44;
      font-size: 18px;
      margin-top: 12px; }
    .catalog-home .catalog-home__item .catalog-home__description {
      font-size: 14px;
      color: #989898;
      font-family: m500; }
    .catalog-home .catalog-home__item span {
      display: block; }
    .catalog-home .catalog-home__item .catalog-home__img {
      position: relative;
      width: 100%;
      height: 270px;
      overflow: hidden;
      border-radius: 10px;
      /****@media****/ }
      @media (min-width: 650px) {
        .catalog-home .catalog-home__item .catalog-home__img:hover::after {
          opacity: .7; }
        .catalog-home .catalog-home__item .catalog-home__img:hover .qn {
          position: absolute;
          opacity: 1; }
          .catalog-home .catalog-home__item .catalog-home__img:hover .qn.n-1 {
            width: 95%;
            height: 1px;
            background: #fff;
            top: 4%;
            left: 2.5%; }
          .catalog-home .catalog-home__item .catalog-home__img:hover .qn.n-2 {
            width: 1px;
            height: 92%;
            background: #fff;
            top: 4%;
            right: 2.5%; }
          .catalog-home .catalog-home__item .catalog-home__img:hover .qn.n-3 {
            width: 95%;
            height: 1px;
            background: #fff;
            bottom: 4%;
            right: 2.5%; }
          .catalog-home .catalog-home__item .catalog-home__img:hover .qn.n-4 {
            width: 1px;
            height: 92%;
            background: #fff;
            top: 4%;
            left: 2.5%; }
        .catalog-home .catalog-home__item .catalog-home__img .qn {
          position: absolute;
          transition: all .5s;
          opacity: 0;
          z-index: 10; }
          .catalog-home .catalog-home__item .catalog-home__img .qn.n-1 {
            width: 0;
            height: 1px;
            background: #fff;
            top: 4%;
            left: -100%; }
          .catalog-home .catalog-home__item .catalog-home__img .qn.n-2 {
            width: 1px;
            height: 0;
            background: #fff;
            top: -100%;
            right: 2.5%; }
          .catalog-home .catalog-home__item .catalog-home__img .qn.n-3 {
            width: 0;
            height: 1px;
            background: #fff;
            bottom: 4%;
            right: -100%; }
          .catalog-home .catalog-home__item .catalog-home__img .qn.n-4 {
            width: 1px;
            height: 0;
            background: #fff;
            top: 100%;
            left: 2.5%; }
        .catalog-home .catalog-home__item .catalog-home__img::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.3);
          z-index: 1;
          transition: all .4s;
          opacity: 0; } }
      .catalog-home .catalog-home__item .catalog-home__img img {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .5s; }

@media (max-width: 1199px) {
  .catalog-home {
    grid-template-columns: repeat(3, 1fr); }
    .catalog-home .catalog-home__item:nth-child(1), .catalog-home .catalog-home__item:nth-child(5), .catalog-home .catalog-home__item:nth-child(7) {
      grid-column: span 1; }
    .catalog-home .catalog-home__item .catalog-home__name {
      min-height: 50px; } }
@media (max-width: 991px) {
  .catalog-home {
    grid-template-columns: repeat(2, 1fr); }
    .catalog-home .catalog-home__item .catalog-home__name {
      min-height: 50px; } }
@media (max-width: 575px) {
  .catalog-home {
    grid-template-columns: repeat(1, 100%);
    justify-content: center; }
    .catalog-home .catalog-home__item .catalog-home__img {
      height: auto; }
      .catalog-home .catalog-home__item .catalog-home__img img {
        position: static;
        height: auto; }
    .catalog-home .catalog-home__item .catalog-home__name {
      min-height: 50px; } }
.bests .page_title {
  margin-top: 25px;
  margin-bottom: 20px; }
.bests .product-box {
  margin-right: -30px; }
  .bests .product-box .slickInslick .slick-track {
    padding-bottom: 0;
    border-bottom: 0 !important; }
  .bests .product-box .slick-track {
    padding-bottom: 70px;
    border-bottom: 1px solid #D9DAE4; }
  .bests .product-box .slick-dots {
    width: 259px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    transition: all .5s; }
    .bests .product-box .slick-dots li {
      width: 50px;
      height: 15px;
      display: flex;
      align-items: center;
      margin: 0; }
      .bests .product-box .slick-dots li.slick-active button {
        background: #A93FC0; }
      .bests .product-box .slick-dots li button {
        background: #eaeaea;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 3px; }
  .bests .product-box .prev {
    top: 35%;
    left: -75px; }
  .bests .product-box .next {
    left: unset;
    right: -45px; }
  .bests .product-box .product-box__item__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px; }
    .bests .product-box .product-box__item__wrap .product-box__item {
      width: 299px;
      background: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      padding-top: 20px;
      padding-bottom: 20px;
      transition: all .5s; }
      .bests .product-box .product-box__item__wrap .product-box__item .product-item__head {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 100;
        width: 259px; }
        .bests .product-box .product-box__item__wrap .product-box__item .product-item__head .product-favorite {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          cursor: pointer; }
          .bests .product-box .product-box__item__wrap .product-box__item .product-item__head .product-favorite svg {
            width: 100%;
            height: 100%; }
        .bests .product-box .product-box__item__wrap .product-box__item .product-item__head .best {
          font-size: 14px;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 10px; }
          .bests .product-box .product-box__item__wrap .product-box__item .product-item__head .best.new, .bests .product-box .product-box__item__wrap .product-box__item .product-item__head .best.sale {
            width: 85px;
            height: 25px;
            font-family: m500;
            color: #373E44; }
      .bests .product-box .product-box__item__wrap .product-box__item .product-box__img {
        width: 100%;
        margin-bottom: 30px; }
        .bests .product-box .product-box__item__wrap .product-box__item .product-box__img img {
          display: block;
          margin: 0 auto; }
      .bests .product-box .product-box__item__wrap .product-box__item .product-box__info {
        width: 259px; }
        .bests .product-box .product-box__item__wrap .product-box__item .product-box__info .product-box__name {
          font-size: 18px;
          margin-top: 0;
          font-family: m700;
          min-height: 40px;
          display: flex;
          align-items: center; }
        .bests .product-box .product-box__item__wrap .product-box__item .product-box__info .category-name {
          font-family: m500;
          color: #8b8b8b;
          margin-bottom: 20px; }
        .bests .product-box .product-box__item__wrap .product-box__item .product-box__info .by-order {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center; }
        .bests .product-box .product-box__item__wrap .product-box__item .product-box__info .prices-spans .product-price__result {
          min-height: 52px;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          .bests .product-box .product-box__item__wrap .product-box__item .product-box__info .prices-spans .product-price__result .price-result {
            font-size: 21px;
            font-family: m900;
            color: #373E44; }
          .bests .product-box .product-box__item__wrap .product-box__item .product-box__info .prices-spans .product-price__result .product-price__old span {
            font-size: 14px;
            text-decoration: line-through;
            color: #6f6f6f; }
        .bests .product-box .product-box__item__wrap .product-box__item .product-box__info .product-button__item .but-add-cart {
          background: #FFFFFF;
          border: 1px solid #D9DAE4;
          box-sizing: border-box;
          border-radius: 50px;
          height: 40px;
          width: 115px;
          font-size: 16px;
          position: relative;
          overflow: hidden;
          z-index: 10;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none !important;
          color: #212121; }
          .bests .product-box .product-box__item__wrap .product-box__item .product-box__info .product-button__item .but-add-cart::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, #A93FC0 0%, #C751E1 100%);
            top: 0;
            left: -100%;
            transition: all .8s;
            z-index: -1;
            opacity: .1; }
          .bests .product-box .product-box__item__wrap .product-box__item .product-box__info .product-button__item .but-add-cart::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, #A93FC0 0%, #C751E1 100%);
            top: 0;
            right: -100%;
            transition: all .8s;
            z-index: -1;
            opacity: .1; }

.ruble {
  font-family: m900;
  color: #373E44; }

/*************TABS**************/
.bests .nav-tabs {
  border: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px; }
  .bests .nav-tabs li {
    background: transparent;
    border: none;
    padding: 13px 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: m500;
    border-radius: 50px;
    background: #fff;
    margin-right: 20px;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.05); }
    .bests .nav-tabs li:last-child {
      margin-right: 0; }
    .bests .nav-tabs li.active {
      background: linear-gradient(90deg, #A93FC0 0%, #9E61AA 100%);
      box-shadow: none; }
      .bests .nav-tabs li.active a {
        color: #fff;
        background: transparent;
        border: none;
        padding: 0;
        margin: 0; }
    .bests .nav-tabs li:hover a {
      background: transparent;
      border: none;
      padding: 0;
      margin: 0; }
    .bests .nav-tabs li a {
      background: transparent;
      border: none;
      padding: 0;
      margin: 0;
      color: #373E44; }
.bests .tab-content > .tab-pane, .bests .pill-content > .pill-pane {
  display: block;
  /* undo display:none          */
  height: 0;
  /* height:0 is also invisible */
  opacity: 0; }
.bests .tab-content > .active, .bests .pill-content > .active {
  height: auto;
  /* let the content decide it  */
  opacity: 1; }

/**********MEDIA======||||||======*****/
@media (min-width: 640px) {
  .bests .product-box .slick-dots {
    width: 0;
    height: 0;
    overflow: hidden; }
  .bests .product-box .product-box__item__wrap .product-box__item:hover {
    box-shadow: 0px 15px 30px rgba(80, 92, 103, 0.14); }
    .bests .product-box .product-box__item__wrap .product-box__item:hover .product-box__info .product-button__item .but-add-cart {
      color: #fff; }
      .bests .product-box .product-box__item__wrap .product-box__item:hover .product-box__info .product-button__item .but-add-cart::after {
        right: 0;
        opacity: 1; }
      .bests .product-box .product-box__item__wrap .product-box__item:hover .product-box__info .product-button__item .but-add-cart::before {
        left: 0;
        opacity: 1; }
    .bests .product-box .product-box__item__wrap .product-box__item:hover .slick-dots {
      width: 259px;
      height: auto;
      overflow: visible; } }
@media (max-width: 1400px) {
  .bests .product-box .slick-dots {
    width: 100%; }
  .bests .product-box .product-box__item__wrap .product-box__item {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%; }
    .bests .product-box .product-box__item__wrap .product-box__item .product-box__img img {
      width: 100%; }
    .bests .product-box .product-box__item__wrap .product-box__item .product-item__head {
      width: calc(100% - 30px); }
    .bests .product-box .product-box__item__wrap .product-box__item .product-box__info {
      width: 100%; }
  .bests .product-box .next {
    right: 0; }
  .bests .product-box .prev {
    left: -30px;
    z-index: 200; } }
@media (max-width: 820px) {
  .bests .product-box .next {
    right: 25px; }
  .bests .product-box .prev {
    left: -5px; } }
@media (max-width: 640px) {
  .bests .product-box .slick-dots {
    bottom: -20px; } }
.works {
  margin-top: 35px; }

.srvices-carousel {
  margin-right: -30px; }
  .srvices-carousel .prev {
    position: absolute;
    top: -73px;
    right: 91px; }
  .srvices-carousel .next {
    right: 30px; }
  .srvices-carousel .services__item-wrap {
    margin-right: 30px; }
    .srvices-carousel .services__item-wrap .services__item .services__item-img img {
      border-radius: 10px; }
    .srvices-carousel .services__item-wrap .services__item .services__item-title {
      font-family: m700;
      font-size: 18px;
      color: #373E44;
      margin-top: 18px;
      margin-bottom: 8px; }
    .srvices-carousel .services__item-wrap .services__item .services__item-desc {
      font-family: m500;
      font-size: 14px;
      color: #989898; }
    .srvices-carousel .services__item-wrap .services__item .services__item__link {
      display: flex;
      align-items: center;
      margin-top: 20px; }
      .srvices-carousel .services__item-wrap .services__item .services__item__link a {
        color: #4D565F;
        font-family: m500;
        text-decoration: underline;
        margin-right: 18px; }
      .srvices-carousel .services__item-wrap .services__item .services__item__link svg {
        width: 16px;
        height: 13px; }

@media (max-width: 1365px) {
  .srvices-carousel .services__item-wrap .services__item .services__item-img img {
    width: 100%; } }
@media (max-width: 1199px) {
  .srvices-carousel .services__item-wrap .services__item .services__item-title {
    min-height: 50px; }
  .srvices-carousel .services__item-wrap .services__item .services__item-desc {
    min-height: 100px; } }
.main {
  margin-top: 113px;
  background: #fff;
  padding-top: 55px;
  padding-bottom: 106px; }
  .main .d-flex {
    justify-content: space-between; }

.main__left {
  width: 549px; }
  .main__left .main__left__img {
    position: relative; }
    .main__left .main__left__img::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 75%;
      top: 50%;
      left: 100%;
      transform: translate(0, -50%);
      background: #FFECD3; }
    .main__left .main__left__img::after {
      content: "";
      position: absolute;
      width: 89%;
      height: 30px;
      left: 50%;
      top: 100%;
      transform: translate(-50%, 0);
      background: #F2F5F7; }
  .main__left .art-triumf {
    color: #b0b0b0;
    text-transform: uppercase;
    font-family: m500;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
    display: block; }
  .main__left .main__left__txt {
    margin-bottom: 40px;
    color: #6F6F6F;
    font-family: m500; }

.main__right {
  width: 660px;
  margin-top: -118px; }
  .main__right .page_title {
    font-size: 30px;
    margin-top: 50px; }
  .main__right .main__right__images {
    display: flex;
    justify-content: space-between; }
    .main__right .main__right__images .images__left {
      height: 454px;
      margin-top: auto; }
  .main__right .main__right__txt {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 32px;
    color: #6F6F6F;
    font-family: m500; }
  .main__right .main__right__btns {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: m500; }
    .main__right .main__right__btns .ques {
      text-decoration: underline;
      color: #4D565F; }
    .main__right .main__right__btns .site_btn {
      width: 250px;
      height: 50px;
      margin-right: 49px; }
      .main__right .main__right__btns .site_btn span {
        display: block;
        margin-right: 17px;
        font-size: 16px; }
      .main__right .main__right__btns .site_btn svg {
        width: 16px;
        height: 16px;
        fill: #fff; }

@media (max-width: 1365px) {
  .main__left {
    width: 43%; }
    .main__left .main__left__img img {
      width: 100%; }

  .main__right {
    width: 52%; }
    .main__right .main__right__images {
      width: 100%; }
      .main__right .main__right__images .images__right {
        width: 62%; }
        .main__right .main__right__images .images__right img {
          width: 100%; }
      .main__right .main__right__images .images__left {
        width: 33%;
        height: 100%; }
        .main__right .main__right__images .images__left img {
          width: 100%; } }
@media (max-width: 1199px) {
  .main__right .main__right__images .images__left {
    height: auto; } }
@media (max-width: 991px) {
  .main__left .page_title {
    font-size: 30px; }
  .main__left .main__left__img::before {
    width: 10px; }
  .main__left .main__left__img::after {
    height: 10px; }

  .main__right {
    display: flex;
    flex-direction: column; }
    .main__right .page_title {
      font-size: 30px;
      margin-top: 20px;
      margin-bottom: 20px; }
    .main__right .main__right__txt {
      width: 100%; }
    .main__right .main__right__btns {
      margin-top: auto; }
      .main__right .main__right__btns .site_btn {
        margin-right: 20px;
        margin-bottom: 1rem; } }
@media (max-width: 575px) {
  .main__left {
    width: 100%; }

  .main__right {
    width: 100%;
    margin-top: 2rem; } }

/*# sourceMappingURL=index.css.map */
