.catalog-container{
    margin-bottom: 32px;
    }
.categoryies-content{
    .d-flex{
        justify-content: space-between;

        }
    }
    .left-sidebar{
            width: 300px;
            // background:#fff;
            #accordion{
                /* Главное меню*/
                padding-left: 0;
                list-style-type: none;
                display: flex;
                flex-direction: column;
                font-family: m500;
                li{

                    /* Пункты главного меню */
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid #E9EAF3;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    padding-left: 30px;
                    padding-right: 20px;
                    overflow: hidden;
                    background:#fff;
                    &:last-child{
                        border-bottom: 0;
                        }
                    &:hover{
                        /* Показ второго уровня меню*/
                        overflow: visible;
                        .level-2{
                            /**second-level**/
                            top: 0;
                            left: 100%;
                            min-width: 230px;
                            justify-content: space-between;
                            height: auto;
                            opacity: 1;
                            z-index: 200;
                            // ul{
                            //     display: block;
                            //     position: relative;
                            //     min-width: auto!important;
                            //     left: 0;
                            //     padding: 0;
                            //     li{
                            //         width: 100%;
                            //         font-family: m500;

                            //         }
                            //     }
                            }
                        }
                    span{
                        width: 6px;
                        height: 9px;
                        background:url('../images/rwhite.png')no-repeat center center;
                        background-size: 6px 9px;
                        display: block;
                        }
                    a{
                        color: #212121;
                        text-decoration: none!important;

                        }
                    &.active{
                        /* Фиолетовый цвет актиного пункта главного меню */
                        order:-1;
                        // height: 70px;
                        background:$accent;
                        border-bottom: 0;
                        a{
                            color: #fff;
                            }
                        }
                     .level-2{
                        /* Стилизация второго уровня меню*/
                        padding-left: 30px;
                        padding-right: 20px;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        list-style-type: none;
                        font-family: m500;
                        display: flex;
                        flex-direction: column;
                        //flex-wrap: wrap;
                        position: absolute;
                        background:#fff;
                        top: 0;
                        left: 90%;
                        width:auto;
                        height: auto;
                        transition: all .5s;
                        opacity: 0;
                        z-index: -1;
                        box-shadow: 5px 10px 20px rgba(0,0,0,.1);
                        // display: none;
                        li{
                            /* Пункты второго уровня меню */
                            border-bottom: 0;
                            height: auto;
                            padding: 7px 0;
                            display: flex;
                            width: 100%;
                            display: block;
                            font-family: m900;
                            transition:all .2s;
                            position: relative;
                            overflow: hidden;
                            &.active{
                                /* Активный элемент второго уровня*/
                                background: #fff;
                                a{
                                            color: #A93FC0;
                                            }
                                span{
                                    display: none;
                                    }
                                // ul{
                                //     left: 0;
                                //     opacity: 1;
                                //     height: auto;
                                //     li{
                                //         a{
                                //             color: #212121;
                                //             }
                                //         }
                                //     }
                                }
                            &:hover{
                                overflow: visible;
                                a{
                                    color: $accent;
                                    }
                                 // ul{
                                 //    li{
                                 //        a{
                                 //            color: $accent;
                                 //            }
                                 //        }
                                 //    }
                                .level-3{
                                    /**second-level**/
                                    top: 0;
                                    left: 100%;
                                    min-width: 230px;
                                    justify-content: space-between;
                                    height: auto;
                                    opacity: 1;
                                    z-index: 200;
                
                                    }
                    
                                }
                            a{
                                text-decoration: none!important;
                                color: #212121;
                                }
                            .level-3{
                                padding-left: 30px;
                                padding-right: 20px;
                                padding-top: 15px;
                                padding-bottom: 15px;
                                list-style-type: none;
                                font-family: m500;
                                display: flex;
                                flex-direction: column;
                                //flex-wrap: wrap;
                                position: absolute;
                                background:#fff;
                                top: 0;
                                left: 90%;
                                width:auto;
                                height: auto;
                                transition: all .5s;
                                opacity: 0;
                                z-index: -1;
                                box-shadow: 5px 10px 20px rgba(0,0,0,.1);
                                li{
                                    border-bottom: 0;
                                    height: auto;
                                    padding: 7px 0;
                                    display: flex;
                                    width: 100%;
                                    display: block;
                                    font-family: m500;
                                    transition:all .2s;
                                    overflow: visible!important;
                                    a {
                                        color: #000;

                                    }
                                    &:hover {
                                        a {
                                            color: $accent;
                                        }
                                    } 
                                    &.active {
                                        a {
                                            color: $accent;
                                        }
                                    }


                                    }
                                }
                            }
                        }
                    }
                }
            }

    /**********categories_box-offParent************/

    .categories_box-offParent{
        .category-sub{
            span{
                display: block;
                }
            width: calc(100% - 330px);
            display: grid;
            grid-template-columns: repeat(3,300px);
            grid-gap: 30px;
            .category-sub__item{
                text-decoration: none!important;
                display: flex;
                flex-direction: column;
                .category-sub__img{
                    position: relative;
                    overflow: hidden;
                    border-radius: 10px;
                    transition:all .4s;
                    width: 300px;
                    height: 277px;
                    img{
                        transition:all .4s;
                        position: absolute;
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        }
                    @media (min-width: 650px) {
                 &:hover{
                        &::after{
                            opacity: .7;
                            }
                        & +.category-sub__name{
                            color: $accent;
                            }
                        .qn{
                            position: absolute;
                            opacity: 1;
                            &.n-1{
                                width: 95%;
                                height: 1px;
                                background:#fff;
                                top: 4%;
                                left: 2.5%;
                                }
                            &.n-2{
                                width: 1px;
                                height: 92%;
                                background:#fff;
                                top: 4%;
                                right: 2.5%;
                                }
                            &.n-3{
                                width: 95%;
                                height: 1px;
                                background:#fff;
                                bottom: 4%;
                                right: 2.5%;
                                }
                            &.n-4{
                                width: 1px;
                                height: 92%;
                                background:#fff;
                                top: 4%;
                                left: 2.5%;
                                }
                        }

                    }
                .qn{
                    position: absolute;
                    transition:all .5s;
                    opacity: 0;
                    z-index: 10;
                    &.n-1{
                        width: 0;
                        height: 1px;
                        background:#fff;
                        top: 4%;
                        left: -100%;
                        }
                    &.n-2{
                        width: 1px;
                        height: 0;
                        background:#fff;
                        top: -100%;
                        right: 2.5%;
                        }
                    &.n-3{
                        width: 0;
                        height: 1px;
                        background:#fff;
                        bottom: 4%;
                        right: -100%;
                        }
                    &.n-4{
                        width: 1px;
                        height: 0;
                        background:#fff;
                        top: 100%;
                        left: 2.5%;
                        }
                    }
                &::after{
                    position: absolute;
                    content:"";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background:rgba(0,0,0,.3);
                    z-index: 1;
                    transition:all .4s;
                    opacity: 0;
                    }

                }/****@media****/
                    }
                .category-sub__name{
                    font-family:m700;
                    color: #373E44;
                    font-size: 18px;
                    margin-top: 12px;
                    transition:all .8s;
                    position: relative;

                    }
                .catalog-sub__description{
                    margin-top: auto;
                    font-size: 14px;
                    font-family: m500;
                    color: #989898;
                    }
                }
            }
        }
    @media (max-width: 1365px) {
            .categories_box-offParent{
                width: calc(100% - 330px);
                 .category-sub{
                    grid-template-columns: repeat(2,1fr);
                    width: 100%;
                    .category-sub__item{
                        .category-sub__img{
                            width: 100%;
                            }
                        }
                    }
                }
        }

    @media (max-width: 991px) {
          .left-sidebar{
                display: none;
                }
          .categories_box-offParent{
                width: 100%;
                }
        }

        @media (max-width: 575px) {

          .categories_box-offParent{
                .category-sub{
                    grid-template-columns: repeat(2,1fr);
                    .category-sub__item{
                        .category-sub__img{
                            height: 230px;
                            }
                        }
                    }
                }
        }

         @media (max-width: 480px) {

          .categories_box-offParent{
                .category-sub{
                    .category-sub__item{
                        .category-sub__img{
                            height: 200px;
                            }
                        }
                    }
                }
        }
        @media (max-width: 380px) {

          .categories_box-offParent{
                .category-sub{
                    grid-template-columns: repeat(1,1fr);
                    justify-content: center;

                    }
                }
        }