.product-box{
    &.product-list{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,299px);
        grid-gap:30px;
        &.favor{
            grid-template-columns: repeat(4,299px);
            .product-box__item__wrap{
                background:transparent!important;
                position: relative;
                // &::before{
                //     content:"Удалено";
                //     position: absolute;
                //     width: 80%;
                //     height: 30px;
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                //     top: 50%;
                //     left: 50%;
                //     transform:translate(-50%,-50%);
                // }

            }
        }
        .slick-dots{
            width: 259px;
            left: 50%;
            transform:translateX(-50%);
            display: flex;
            justify-content: space-between;
            transition:all .5s;
            li{
                width: 50px;
                height: 15px;
                display: flex;
                align-items: center;
                margin: 0;
                &.slick-active{
                    button{
                        background:$accent;
                        }
                    }

                button{
                    background:#eaeaea;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    height: 3px;
                    }
                }
            }
        .product-box__item__wrap{
            display: flex;
            flex-direction: column;
            align-items: center;
            background:#fff;
            .product-box__item{
                display: flex;
                flex-direction:column;
                align-items: center;
                position: relative;
                padding-top: 20px;
                padding-bottom: 20px;
                transition:all .5s;
                .product-item__head{
                    position: absolute;
                    top: 30px;
                    left: 53%;
                    transform:translate(-50%,0);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    z-index: 100;
                    width: 259px;
                    .product-favorite{
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                        cursor: pointer;
                        svg{
                            width: 100%;
                            height: 100%;
                            }
                        }
                    .best{
                        font-size: 14px;
                        background:#fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: 10px;
                        &.new,&.sale{
                            width: 85px;
                            height: 25px;
                            font-family: m500;
                            color: #373E44;
                            }
                        }
                    }
                .product-box__img{
                    width: 259px;
                    img{
                        display: block;
                        margin:0 auto;
                        }
                    }
                .product-box__info{
                    width: 259px;
                    .product-box__name{
                        font-size: 18px;
                        margin-top: 0;
                        font-family: m700;
                        min-height: 40px;
                        display: flex;
                        align-items: center;
                        }
                     .category-name{
                        font-family: m500;
                        color: #8b8b8b;
                        margin-bottom: 20px;
                        }
                    .by-order{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        }
                      .prices-spans{
                        .product-price__result{
                            .price-result{
                                font-size: 21px;
                                font-family: m900;
                                color: #373E44;
                                }

                            .product-price__old{
                                span{
                                    font-size: 14px;
                                    text-decoration: line-through;
                                    color: #6f6f6f;
                                    }
                                }
                            }
                      }
                     .product-button__item{
                        .but-add-cart{
                            background: #FFFFFF;
                            border: 1px solid #D9DAE4;
                            box-sizing: border-box;
                            border-radius: 50px;
                            height: 40px;
                            width: 115px;
                            font-size: 16px;
                            position: relative;
                            overflow: hidden;
                            z-index: 10;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-decoration: none!important;
                            color: #212121;
                            &::before{
                                    content:"";
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    // border-radius: 50px;
                                    background: linear-gradient(90deg, #A93FC0 0%, #C751E1 100%);
                                    top: 0;
                                    left: -100%;
                                    transition:all .8s;
                                    z-index: -1;
                                    opacity: .1;
                                    }
                            &::after{
                                    content:"";
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    // border-radius: 50px;
                                    background: linear-gradient(90deg, #A93FC0 0%, #C751E1 100%);
                                    top: 0;
                                    right: -100%;
                                    transition:all .8s;
                                    z-index: -1;
                                    opacity: .1;
                                    }

                            }
                        }
                    }
                }
            }
        }
    }
/**************************/
 @media (min-width:640px) {
           .product-box{

             &.product-list{
                 .slick-dots{
                    width: 0;
                    height: 0;
                    overflow: hidden;
                    }
                   .product-box__item__wrap{
                                box-shadow: 0px 15px 30px rgba(80, 92, 103, 0.14);
                         .product-box__item{
                            &:hover{
                                .product-box__info{
                                     .product-button__item{
                                         .but-add-cart{
                                            color: #fff;
                                            &::after{
                                                right: 0;
                                                opacity: 1;
                                                }
                                            &::before{
                                                left: 0;
                                                opacity: 1;
                                                }
                                            }
                                        }
                                    }
                                .slick-dots{
                                     width: 259px;
                                     height: auto;
                                     overflow: visible;
                                    }
                                }
                            }
                        }
                }
            }
       }

       @media (max-width: 1365px) {
    .product-box{
        &.product-list{
            grid-template-columns:repeat(2,1fr)!important;
            .product-box__item__wrap{
                 .product-box__item{
                    width: calc(100% - 20px);
                    .product-box__img{
                        width: 340px!important;
                        img{
                            width: 100%;
                            }
                        }
                    .product-item__head{
                        width: calc(100% - 20px);
                        }
                    .product-box__info{
                        width: calc(100% - 20px)!important;
                        }
                    }
                }
            }
        }
}
@media (max-width: 1300px) {
    .sort-box{
         .sort-box__body{
            width: 200px;
            }
        }
    .product-box{
        &.product-list{
            grid-template-columns:repeat(2,1fr)!important;
            .product-box__item__wrap{
                 .product-box__item{
                    width: calc(100% - 20px);
                    .product-box__img{
                        width: 340px!important;
                        img{
                            width: 100%;
                            }
                        }
                    .product-item__head{
                        width: calc(100% - 20px);
                        }
                    .product-box__info{
                        width: calc(100% - 20px)!important;
                        }
                    }
                }
            }
        }
        .category-box{
             .category-box__sidebar{
                width: 300px;
                }
            }
        .category-box{
             .category-box__content{
                width: calc(100% - 330px);
                }
            }
}

@media (max-width: 1199px) {
    .category-box{
             .category-box__sidebar{
                display: none;
                }
            .category-box__content{
                width: 100%;
                }
            }
    .product-box{
        &.product-list{
            grid-template-columns:repeat(3,1fr)!important;
            .product-box__item__wrap{
                .product-box__item{
                    .product-box__img{
                        width: 260px!important;
                        }
                    }
                }
        }
    }

}

@media (max-width: 1100px) {
    .product-box{
        &.product-list{
             .product-box__item__wrap{
                 .product-box__item{
                    &:nth-child(odd){
                        margin-right: 0;
                        }
                    }
                }
            }
        }
}
@media (max-width: 991px) {
    .product-box{
        &.product-list{
                grid-template-columns:repeat(2,1fr)!important;
                grid-gap:15px!important;

             .product-box__item__wrap{
                 .product-box__item{
                    .product-box__img{
                        width: 315px!important;
                        }
                    }
                }
            }
        }
}
@media (max-width: 767px) {
    .product-box{
        &.product-list{
                grid-template-columns:repeat(2,50%)!important;
                grid-gap:15px!important;

             .product-box__item__wrap{
                 .product-box__item{
                    .product-box__img{
                        width: calc(100% - 20px)!important;
                        }
                    }
                }
            }
        }
}

@media (max-width: 575px) {
    .catalog-container{
        .page_title{
            margin-top: 30px;
            margin-bottom: 30px;
            }
        }
}
@media (max-width: 639px) {
    .product-box{
        &.product-list{
            .product-box__item__wrap{
                 .product-box__item{
                    .product-view__price{
                        .product-price__result{
                            min-height: 52px!important;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            }
                        }

                     .product-item__head{
                        width: calc(100% - 20px)!important;
                        }
                    }
                }
             .slick-dots{
                width: 100%!important;
                bottom: -20px;
                }
            }
        }
}

@media (max-width: 480px) {
    .product-box{
        &.product-list{
                grid-template-columns:repeat(1,100%)!important;

             .product-box__item__wrap{
                 .product-box__item{
                    .product-box__img{
                        width: calc(100% - 20px)!important;
                        }
                    }
                }
            }
        }
        .catalog-container{
        .page_title{

            margin-bottom: 65px;
            }
        }

}
@media (max-width: 491px) {
    .sort-box{
         .sort-box__body{
            width: 165px;
            }
        }
}