.notifications {
    display: none;
    position: fixed;
    z-index: 1050;
    &.top-right {
        right: 0;
        top: 25%;
    }
    & > div {
        position: relative;
        z-index: 9999;
        background-color:  $accent;
        border: 2px solid $accent;
        color: #fff;
        padding: 10px 15px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
}
.hd-md{
	display: none;
	}
.of_news{
	cursor: pointer;
}
.product-view-content{
	padding-top: 30px;
	font-size: 16px;
	font-family: m100;
	line-height: 1.5;

	h3{
		color: rgba(145,80,192, 1);
		font-size: 18px;
		font-family: Circe-Bold;
		padding: 10px 0 5px;
		margin: 0;
	}
}

.product-view{
	// padding: 0 0 15px;
	display: flex;
	flex-wrap: wrap;
	// padding-bottom: 39px;
	// border-bottom: 1px solid #c9c9c9;
	.po-zaprosu{
	    color: #232323;
	    font-size: 35px;
	    font-family: m700;
	    line-height: 1.7;
	}
	.product-view__img{
		order:-1;
		width: 579px;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		.product-button__item{
			cursor: pointer;
			position: absolute;
			z-index: 100;
			width: 20px;
			top: 13px;
			left: 13px;
			.text-error{
				width: 17px;
				svg{
					width: 20px;
					height: 20px;
				}
			}
		}
		.image-preview{
			width:100%;

			img{
				width: 100%;
				display: block;
				margin:0 auto;
				}
		}
		.image-thumbnail{
			width:calc(100% + 15px);
			.slick-slide{
				// margin-right: 15px;
				padding:15px 0;
				margin-right: 15px;
				}
		    .image-thumbnail__box{
		    .image-thumbnail__img{
				height: 130px;
				width: 100%;
				overflow: hidden;
				img{
					// width: 100%;
					}
		    	}
		    }

		}

		&:after{
			content: '';
			clear: both;
			display: block;
		}
	}
	.product-view__info{
		width: calc(100% - 585px);
		padding: 0 0 0 35px;
		display: flex;
		flex-direction: column;
		.product-type{
			margin-top: 8px;
			.product-type__color{
				span{
					display: inline-block;
					margin-left: 5px;
				}
			}
		}
		h1{
			font-size: 35px;
			font-family: m900;
			color: #000;
			}
		.properties-product-view{
			margin-bottom: 15px;
			margin-top: 10px;
			.key-value{
				display: flex;
				}
			}
	}
	.product-view__item{
		margin: 0 0 15px;
	}

	.product-view__spinput, .product-view__button{
		display: inline-block;
		vertical-align: bottom;
		// margin: 0 20px;
	}
	.product-view__price{
		font-size: 16px;
		font-family: Circe-Regular;
		line-height: 1.1;
		margin: 0 0 15px;
		.product-view__price_heading{
			color: #515151;
			font-family: Circe-ExtraBold;
			padding: 0 0 5px;
		}
		.product-price__result{
			.price-result{
				color: #232323;
				font-size: 35px;
				font-family: m900;
				line-height: 1.1;
			}
				.ruble{
					font-family: m500;
					color: #232323;
					font-size: 35px;
    				font-family: m900;

					}
		}
		.product-price__old{
			color: #5d5d5d;
			font-size: 20px;
			font-family: Circe-Light;
			line-height: 1.1;
			padding: 0 0 0 20px;
		}
	}
	.spin-cart{
		display: flex;
		}
	.product-view__spinput{
		margin-right: 20px;
		.spinput {
			width: 130px;
			height: 50px;
			line-height: 1.3;
			padding: 0;
			text-align: center;
			background: #fff;
			border: 1px solid #e7e7e7;
			border-radius:50px;
			display: inline-block;
			margin-right: 15px;
			.spinput__minus, .spinput__plus {
				width: 20px;
				line-height: 50px;
				left: 15px;
			}
			.spinput__plus {
			    left: auto;
			    right: 15px;
			}
			.spinput__value {
			 	width: 2em;
		        height: 48px;
		        &:focus, &:active, &:hover{
		        	outline: 0;
		        	box-shadow:none;
		        }
			}
		}
	}
	.product-view__button{
		width: 100%;
		display: flex;
		.but-black{
			align-items: center;
			justify-content: center;
			border-radius:0;
			display: flex;
			width: 229px;
			height: 50px;
			svg{
				width: 24px;
				height: 25px;
				fill:#fff;
				}
				span{
					margin-left: 12px;
					}
			&:hover, &:focus, &:active{
				outline: 0;
				box-shadow:none;
			}
		}
	.product-favorite{
		width: 50px;
		height: 50px;
		background:#fff;
		border: 1px solid #ccc;
		margin-left: 12px;
		svg{
			fill:#232323;
			width: 26px;
			height: 25px;
			}
		}
	}

	&:after{
		content: '';
		clear: both;
		display: block;
	}
}
.image-preview{
	width: 100%;
	max-width: 100%;
	height: auto;
	text-align: center;
	margin: 0 !important;
	.slick-list, .slick-track, .slick-slide{
		height: 100%;
	}
	.image-preview__img{
		background: #fff;
		width: 579px;
		height: 485px;
		overflow: hidden;
		img{
			position: absolute;
			object-fit: cover;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		a{
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			&:before{
				content: '';
				display: block;
				position: absolute;
				z-index: 1;
				right: 13px;
				top: 13px;
				width: 17px;
				height: 17px;
				background: url('../images/icon/maximize.svg') no-repeat;
				background-size: 17px;
			}
		}
	}
}


.product-view-info{
	padding: 15px 0 0;
	.product-view-info__tabs{
		margin: 0;
		padding: 0;
		list-style-type: none;
		border-bottom: 1px solid #d7d7d7;
		li{
			display: block;
			float: left;
			height: 49px;
			border-right: none;
			transition:all .3s ease;
			position: relative;
			top: 1px;
			a{
				display: flex;
				flex-wrap: wrap;
				align-items:center;
				height: 100%;
				color: #232323;
				font-size: 16px;
				font-family: m500;
				padding: 0 25px;
				transition:all .3s ease;
				text-decoration: none!important;
				&:hover{
					color: rgba(145,80,192, 1);
				}
			}
			&.active{
					border-bottom: 1px solid $accent;
		        a{
					color: $accent;
					font-family: m700;
		        }
			}
		}
		&:after{
			content: '';
			clear: both;
			display: block;
		}
	}
	.product-view-info__tab-content{
		padding: 25px 0px 45px;
		    border-bottom: 1px solid #d7d7d7;
		.tab-pane{
			min-height: 200px;
			.tab-description-text {
				margin-bottom: 20px;
				span {
					display: block;
					font-family: Circe-Bold;
					font-size: 20px;
					padding: 15px 0 5px;
				}
			}
		}
		table{
			width: 100% !important;
			border: none;
			tr{
				display: none;
				&:nth-child(-n+4){
					display: table-row;
					}
				td{
					border-color: #8b8b8b;
					padding: 10px 0;
					width: 40%;
					font-family: m100;
						&:nth-child(1){
						position: relative;
						&::after{
							content:"";
							position: absolute;
							width: 100%;
							height: 1px;
							background:url('../images/b.png')repeat-x;
							top: 50%;
							left: 0;
							}
					span{
						display: inline-block;
						background:#f8f8f8;
						position: relative;
						z-index: 10;
						padding-right: 5px;
					}
						}
					&:nth-child(2){
					color: #212121!important;
					font-family: m700;
					width: 60%;
					padding-left: 10px;
					}
				}
			}
		}
	}
	&:after{
		content: '';
		clear: both;
		display: block;
	}
}



@media (max-width: 1300px){
	.product-view-content{
		font-size: 14px;
		line-height: 22px;
		h3{
			font-size: 16px;
		}
	}
	.product-view{
		// padding: 0 0 15px;
		.spin-cart{
		flex-wrap: wrap;
	 	}
	 .product-view__spinput{
		width: 100%;
	 	}
		.product-view__img{
			width: 50%;
			padding: 0 30px 0 0;
			// border-right: 1px solid #d7d7d7;
			.image-preview{
				width: 100%;
			}
			.image-thumbnail{
		   	// width: calc(50% + 15px);
		   	.slick-slide{
				padding: 0;
		   		}
				.image-thumbnail__box{
					 .image-thumbnail__img{
					 	overflow: hidden;
						height: 100px;
						img{
							width: 100%;
							// height: 100%;
							}
					 	}
					}
		   		}

		}
		.product-view__info{
			width: 50%;
			padding: 0 0 0 20px;
		}
		.product-view__item{
			margin: 0 0 15px;
		}

		.product-view__spinput, .product-view__button{
			margin: 0 25px 25px 0;
		}
		.product-view__spinput{
			.spinput {
				width: 130px;
				height: 46px;
				.spinput__minus, .spinput__plus {
					line-height: 46px;
				}
				.spinput__value {
			        height: 44px;
				}
			}
		}
		.product-view__button{
			margin: 0 0 25px;
		}
		.product-view__price{
			font-size: 14px;
			line-height: 1.1;
			margin: 0 0 25px;
			.product-view__price_heading{
				padding: 0 0 5px;
			}
			.product-price__result{
				.price-result{
					font-size: 38px;
					line-height: 1.1;
				}
			}
			.product-price__old{
				font-size: 18px;
				line-height: 1.1;
				padding: 0 0 0 20px;
			}
		}
	}

	.product-view-info{
		.product-view-info__tabs{
			li{
				height: 46px;
				a{
					font-size: 14px;
					padding: 0 20px;
				}
			}
		}
		.product-view-info__tab-content{
			padding: 20px 0px 0px;
			table{
				tr{
					td{
						padding: 8px 0 6px;
					}
				}
			}
		}
	}
}
@media (max-width: 1199px) {
.product-view{
	 .product-view__info{
	  h1{
			font-size: 30px;
	  		}
	  }
	 .product-view__price{
		 .product-price__result{
				.ruble{
					font-size: 30px;
					}
			 .price-result{
				font-size: 30px;
			 	}
		 	}
	 	}
	 	.product-view__img{
	 		 .image-thumbnail{
	 		 	 .image-thumbnail__box{
	 		 	 	 .image-thumbnail__img{
	 		 	 	 	position: relative;
	 		 	 	 	 img{
							position: absolute;
							object-fit: cover;
							width: 100%;
							height: 100%;
	 		 	 	 	 }
	 		 	 	 }
	 		 	 }
	 		 }
	 	}
	}

}
@media (max-width: 1100px){
	.product-view{
		.product-view__img{

			width: 50%;
			// padding: 15px 0px 0px;
			border-right: none;
			// border-top: 1px solid #d7d7d7;
			display: flex;
			margin-top: 30px;
			.image-preview{
				// width: 50%;

				}
		   .image-thumbnail{
		   	// width: calc(50% + 15px);
				.image-thumbnail__box{
					 .image-thumbnail__img{
					 	overflow: hidden;
						height: 97px;
						img{
							width: 100%;
							// height: 100%;
							}
					 	}
					}
		   		}
		}
		.product-view__info{
			// order:-1;
			width: 50%;
			padding: 30px 0 30px;
		}
		.product-view__spinput{
			.spinput {
				width: 130px;
				height: 42px;
				.spinput__minus, .spinput__plus {
					line-height: 42px;
				}
				.spinput__value {
			        height: 40px;
				}
			}
		}
		.product-view__price{
			font-size: 14px;
			line-height: 1.1;
			margin: 0 0 25px;
			.product-view__price_heading{
				padding: 0 0 5px;
			}
			.product-price__result{
				.price-result{
					font-size: 36px;
					line-height: 1.1;
				}
			}
			.product-price__old{
				font-size: 18px;
				line-height: 1.1;
				padding: 0 0 0 20px;
			}
		}
	}
}

@media (max-width: 991px) {
	.hd-md{
		display: flex;
	    align-items: center;
	    width: auto;
	    text-decoration: none!important;
	    color: $accent!important;
	    font-family: m500;
    span{
        text-decoration: underline;
        }
    i{
      height: 12px;
      display: inline-block;
      margin-left: 5px;
      }
		}
	.product-view{
		// padding: 0 0 15px;
		.product-view__img{
			width: 100%;
			padding: 0!important;
			order:2;
			.image-preview{
				width: 100%;
			}
			.image-thumbnail{
		   	width: calc(100% + 15px);
		   	margin-top: 15px;
		   	.slick-slide{
				padding: 0;
		   		}
				.image-thumbnail__box{
					 .image-thumbnail__img{
					 	overflow: hidden;
						height: 100px;
						img{
							width: 100%;
							// height: 100%;
							}
					 	}
					}
		   		}

		}
		.product-view__info{
			width: 100%;
			padding: 0 0 0 20px;
		}
		.product-view__item{
			margin: 0 0 15px;
		}

		.product-view__spinput, .product-view__button{
			margin: 0 25px 25px 0;
		}
		.product-view__spinput{
			.spinput {
				width: 130px;
				height: 46px;
				.spinput__minus, .spinput__plus {
					line-height: 46px;
				}
				.spinput__value {
			        height: 44px;
				}
			}
		}
		.product-view__button{
			margin: 0 0 25px;
		}
		.product-view__price{
			font-size: 14px;
			line-height: 1.1;
			margin: 0 0 25px;
			.product-view__price_heading{
				padding: 0 0 5px;
			}
			.product-price__result{
				.price-result{
					font-size: 38px;
					line-height: 1.1;
				}
			}
			.product-price__old{
				font-size: 18px;
				line-height: 1.1;
				padding: 0 0 0 20px;
			}
		}
	}
	}

@media (max-width: 640px){
	.product-view-content{
		h3{
			font-size: 15px;
		}
	}
	.product-view{
		.product-view__img{
			flex-direction: column;
			.image-thumbnail{
				order:2;
				}
			.image-preview{
				width: 100%;
			}
			.image-thumbnail{
				// width: 100%;
			}
			&.product-view__img_2{
				.image-preview{

					width: 100%;
				}
			}
		}
		.product-view__spinput{
			.spinput {
				width: 110px;
				height: 36px;
				.spinput__minus, .spinput__plus {
					line-height: 36px;
				}
				.spinput__value {
			        height: 34px;
				}
			}
		}
		.product-view__price{
			font-size: 14px;
			line-height: 1.1;
			margin: 0 0 20px;
			.product-view__price_heading{
				padding: 0 0 5px;
			}
			.product-price__result{
				.price-result{
					font-size: 30px;
					line-height: 1.1;
				}
			}
			.product-price__old{
				font-size: 18px;
				line-height: 1.1;
				padding: 0 0 0 20px;
			}
		}
	}

	.image-preview{
		// height: 360px;
		padding: 10px 0px;
		line-height: 340px;
		.image-preview__img{
			width: 100%;
			img{
				max-height: 95%;
			}
		}
	}




	.product-view-info{
		.product-view-info__tabs{
			li{
				height: 40px;
				a{
					font-size: 14px;
					padding: 0 16px;
				}
			}
		}
		.product-view-info__tab-content{
			padding: 20px 0px 0px;
			table{
				tr{
					td{
						padding: 7px 0 5px;
					}
				}
			}
		}
	}
}

@media (max-width: 480px) {
	.image-preview{
		 .image-preview__img{

		 }
	}
}
@media (max-width: 453px) {

.product-view{
	.spin-cart{
		display: block;
		}
	 .product-view__img{
         .image-thumbnail{
	 		 	 .image-thumbnail__box{
	 		 	 	 .image-thumbnail__img{
	 		 	 	 	height: 80px;
	 		 	 	 }
	 		 	 }
	 		 }
	 	}
    }
    .calling{
		margin-left: 0;
		margin-top: 1rem;
    	}
   .params-preview__content-ofTable{
		 table{
			 tr{
				 td{
				 	&:nth-child(1){
				 		&::after{
				 			display: none;
				 		}
				 	}
				 }
			 	}
		 	}
   		}

  .product-view-info{
	 .product-view-info__tab-content{
		 table{
			 tr{
				 td{
					&:nth-child(1){
						&::after{
							display: none;
							}
						}
				 	}
			 	}
		 	}
	 	}
  	}
  	.image-preview{
		 .image-preview__img{
			height: 300px;
		 }
	}
}