.catalog-section{
    margin-top: 29px;
    .store-link{
        text-align: center;
        margin-bottom: 35px;
        margin-top: 40px;
        font-family: m500;
        color: #989898;
        text-decoration: underline;
        }
      .container{
        border-bottom: 1px solid #D9DAE4;

        }
    }
.catalog-home{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    .catalog-home__item{
        text-decoration: none!important;
        &:nth-child(1),&:nth-child(5),&:nth-child(7){
            grid-column: span 2;
            }
        .catalog-home__name{
            font-family: m700;
            color: #373E44;
            font-size: 18px;
            margin-top: 12px;
            }
        .catalog-home__description{
            font-size: 14px;
            color: #989898;
            font-family: m500;
            }
        span{
            display: block;
            }
        .catalog-home__img{
            position: relative;
            width: 100%;
            height: 270px;
            overflow: hidden;
            border-radius: 10px;
            @media (min-width: 650px) {
                 &:hover{
                        &::after{
                            opacity: .7;
                            }
                        .qn{
                            position: absolute;
                            opacity: 1;
                            &.n-1{
                                width: 95%;
                                height: 1px;
                                background:#fff;
                                top: 4%;
                                left: 2.5%;
                                }
                            &.n-2{
                                width: 1px;
                                height: 92%;
                                background:#fff;
                                top: 4%;
                                right: 2.5%;
                                }
                            &.n-3{
                                width: 95%;
                                height: 1px;
                                background:#fff;
                                bottom: 4%;
                                right: 2.5%;
                                }
                            &.n-4{
                                width: 1px;
                                height: 92%;
                                background:#fff;
                                top: 4%;
                                left: 2.5%;
                                }
                        }

                    }
                .qn{
                    position: absolute;
                    transition:all .5s;
                    opacity: 0;
                    z-index: 10;
                    &.n-1{
                        width: 0;
                        height: 1px;
                        background:#fff;
                        top: 4%;
                        left: -100%;
                        }
                    &.n-2{
                        width: 1px;
                        height: 0;
                        background:#fff;
                        top: -100%;
                        right: 2.5%;
                        }
                    &.n-3{
                        width: 0;
                        height: 1px;
                        background:#fff;
                        bottom: 4%;
                        right: -100%;
                        }
                    &.n-4{
                        width: 1px;
                        height: 0;
                        background:#fff;
                        top: 100%;
                        left: 2.5%;
                        }
                    }
                &::after{
                    position: absolute;
                    content:"";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background:rgba(0,0,0,.3);
                    z-index: 1;
                    transition:all .4s;
                    opacity: 0;
                    }

                }/****@media****/
            img{
                position: absolute;
                object-fit: cover;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition:all .5s;
                }
            }
        }
    }


@media (max-width: 1199px) {
    .catalog-home{
        grid-template-columns: repeat(3,1fr);
        .catalog-home__item{
            &:nth-child(1),&:nth-child(5),&:nth-child(7){
                grid-column: span 1;
                }
            .catalog-home__name{
                min-height: 50px;
                }
            }
        }
}
@media (max-width: 991px) {
    .catalog-home{
        grid-template-columns: repeat(2,1fr);
        .catalog-home__item{

            .catalog-home__name{
                min-height: 50px;
                }
            }
        }
}
@media (max-width: 575px) {
    .catalog-home{
        grid-template-columns: repeat(1,100%);
        justify-content: center;
        .catalog-home__item{
            .catalog-home__img{
                height: auto;
                img{
                    position: static;
                    height: auto;
                    }
                }
            .catalog-home__name{
                min-height: 50px;
                }
            }
        }
}