.main{
    margin-top: 113px;
    background:#fff;
    padding-top: 55px;
    padding-bottom: 106px;
    .d-flex{
        justify-content: space-between;
        }
    }
.main__left{
    width: 549px;
    .main__left__img{
        position: relative;
        &::before{
            content:"";
            position: absolute;
            width: 30px;
            height: 75%;
            top: 50%;
            left: 100%;
            transform:translate(0,-50%);
            background:#FFECD3;
            }
        &::after{
            content:"";
            position: absolute;
            width: 89%;
            height: 30px;
            left: 50%;
            top: 100%;
            transform:translate(-50%,0);
            background:#F2F5F7;
            }
        }
    .art-triumf{
        color: #b0b0b0;
        text-transform: uppercase;
        font-family: m500;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 15px;
        display: block;
        }
        .main__left__txt{
            margin-bottom: 40px;
            color: #6F6F6F;
            font-family: m500;
            }
    }
.main__right{
    width: 660px;
    margin-top: -118px;
    .page_title{
        font-size: 30px;
        margin-top: 50px;
        }
    .main__right__images{
        display: flex;
        justify-content: space-between;
        .images__left{
            height: 454px;
            margin-top: auto;
            }
        }
     .main__right__txt{
        width: 80%;
        margin-top: 20px;
        margin-bottom: 32px;
        color: #6F6F6F;
        font-family: m500;
        }
    .main__right__btns{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-family: m500;
        .ques{
            text-decoration: underline;
            color:#4D565F ;

            }
        .site_btn{
            width: 250px;
            height: 50px;
            margin-right: 49px;
            span{
                display: block;
                margin-right: 17px;
                font-size: 16px;
                }
            svg{
                width: 16px;
                height: 16px;
                fill:#fff;
                }
            }
        }
    }
    @media (max-width: 1365px) {
        .main__left{
            width: 43%;
            .main__left__img{
                img{
                    width: 100%;
                    }
                }
            }
        .main__right{
            width: 52%;
                 .main__right__images{
                    width: 100%;
                    .images__right{
                        width: 62%;
                        img{
                            width: 100%;
                            }
                        }
                    .images__left{
                        width: 33%;
                        height: 100%;
                        img{
                            width: 100%;
                            }
                        }
                    }

            }
    }

    @media (max-width: 1199px) {
        .main__right{
             .main__right__images{
                 .images__left{
                        height: auto;
                    }
                }
            }
    }

@media (max-width: 991px) {
    .main__left{
        .page_title{
            font-size: 30px;
            }
         .main__left__img{
            &::before{
                width: 10px;
                }
            &::after{
                height: 10px;
                }
            }
        }
    .main__right{
         display: flex;
         flex-direction: column;
        .page_title{
            font-size: 30px;
            margin-top: 20px;
            margin-bottom: 20px;
            }
         .main__right__txt{
            width: 100%;
            }
         .main__right__btns{
            margin-top: auto;
           .site_btn{
                margin-right: 20px;
                margin-bottom: 1rem;
                }
            }
        }
}

@media (max-width: 575px) {
   .main__left{
        width: 100%;
        }
    .main__right{
        width: 100%;
        margin-top: 2rem ;
        }
}
