.bests{
    .page_title{
        margin-top: 25px;
        margin-bottom: 20px;
        }
    .product-box{
        margin-right: -30px;
        .slickInslick{
            .slick-track{
                padding-bottom: 0;
                border-bottom: 0!important;
            }
        }
        .slick-track{
            padding-bottom: 70px;
            border-bottom: 1px solid #D9DAE4;
        }

        .slick-dots{
            width: 259px;
            left: 50%;
            transform:translateX(-50%);
            display: flex;
            justify-content: space-between;
            transition:all .5s;
            li{
                width: 50px;
                height: 15px;
                display: flex;
                align-items: center;
                margin: 0;
                &.slick-active{
                    button{
                        background:$accent;
                        }
                    }

                button{
                    background:#eaeaea;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    height: 3px;
                    }
                }
            }
        .prev{
            top: 35%;
            left: -75px;
            }
        .next{
            left: unset;
            right: -45px;
            }
        .product-box__item__wrap{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 30px;
            .product-box__item{
                width: 299px;
                background:#fff;
                display: flex;
                flex-direction:column;
                align-items: center;
                position: relative;
                padding-top: 20px;
                padding-bottom: 20px;
                transition:all .5s;
                .product-item__head{
                    position: absolute;
                    top: 30px;
                    left: 50%;
                    transform:translate(-50%,0);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    z-index: 100;
                    width: 259px;
                    .product-favorite{
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                        cursor: pointer;
                        svg{
                            width: 100%;
                            height: 100%;
                            }
                        }
                    .best{
                        font-size: 14px;
                        background:#fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: 10px;
                        &.new,&.sale{
                            width: 85px;
                            height: 25px;
                            font-family: m500;
                            color: #373E44;
                            }
                        }
                    }
                .product-box__img{
                    width: 100%;
                    margin-bottom: 30px;
                    img{
                        display: block;
                        margin:0 auto;
                        }
                    }
                .product-box__info{
                    width: 259px;
                    .product-box__name{
                        font-size: 18px;
                        margin-top: 0;
                        font-family: m700;
                        min-height: 40px;
                        display: flex;
                        align-items: center;
                        }
                     .category-name{
                        font-family: m500;
                        color: #8b8b8b;
                        margin-bottom: 20px;
                        }
                    .by-order{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        }
                      .prices-spans{
                        .product-price__result{
                                min-height: 52px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                            .price-result{
                                font-size: 21px;
                                font-family: m900;
                                color: #373E44;
                                }

                            .product-price__old{
                                span{
                                    font-size: 14px;
                                    text-decoration: line-through;
                                    color: #6f6f6f;
                                    }
                                }
                            }
                      }
                     .product-button__item{
                        .but-add-cart{
                            background: #FFFFFF;
                            border: 1px solid #D9DAE4;
                            box-sizing: border-box;
                            border-radius: 50px;
                            height: 40px;
                            width: 115px;
                            font-size: 16px;
                            position: relative;
                            overflow: hidden;
                            z-index: 10;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-decoration: none!important;
                            color: #212121;
                            &::before{
                                    content:"";
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    // border-radius: 50px;
                                    background: linear-gradient(90deg, #A93FC0 0%, #C751E1 100%);
                                    top: 0;
                                    left: -100%;
                                    transition:all .8s;
                                    z-index: -1;
                                    opacity: .1;
                                    }
                            &::after{
                                    content:"";
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    // border-radius: 50px;
                                    background: linear-gradient(90deg, #A93FC0 0%, #C751E1 100%);
                                    top: 0;
                                    right: -100%;
                                    transition:all .8s;
                                    z-index: -1;
                                    opacity: .1;
                                    }

                            }
                        }
                    }
                }
            }
        }
    }
    .ruble{
        font-family: m900;
        color: #373E44;
        }
   /*************TABS**************/
   .bests{
        .nav-tabs{
            border: none;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 25px;
            li{
                background:transparent;
                border: none;
                padding: 13px 38px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: m500;
                border-radius: 50px;
                background:#fff;
                margin-right: 20px;
                box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.05);
                &:last-child{
                    margin-right: 0;
                    }
                &.active{
                    background: linear-gradient(90deg, #A93FC0 0%, #9E61AA 100%);
                    box-shadow: none;
                    a{
                        color: #fff;
                        background:transparent;
                        border: none;
                        padding: 0;
                        margin: 0;
                        }
                    }
                &:hover{
                    a{
                        background:transparent;
                        border: none;
                        padding: 0;
                        margin: 0;
                        }
                    }
                a{
                    background:transparent;
                    border: none;
                    padding: 0;
                    margin: 0;
                    color: #373E44;
                   }
                }
            }
            .tab-content > .tab-pane, .pill-content > .pill-pane {
                display: block;    /* undo display:none          */
                height: 0;         /* height:0 is also invisible */
                opacity: 0;
                //overflow: hidden;  /* no-overflow                */
            }
            .tab-content > .active, .pill-content > .active {
                height: auto;      /* let the content decide it  */
                opacity: 1;
            }
        }

/**********MEDIA======||||||======*****/
       @media (min-width:640px) {
           .bests{

             .product-box{
                 .slick-dots{
                    width: 0;
                    height: 0;
                    overflow: hidden;
                    }
                   .product-box__item__wrap{
                         .product-box__item{
                            &:hover{
                                box-shadow: 0px 15px 30px rgba(80, 92, 103, 0.14);
                                .product-box__info{
                                     .product-button__item{
                                         .but-add-cart{
                                            color: #fff;
                                            &::after{
                                                right: 0;
                                                opacity: 1;
                                                }
                                            &::before{
                                                left: 0;
                                                opacity: 1;
                                                }
                                            }
                                        }
                                    }
                                .slick-dots{
                                     width: 259px;
                                     height: auto;
                                     overflow: visible;
                                    }
                                }
                            }
                        }
                }
            }
       }

 @media (max-width: 1400px) {
        .bests{
             .product-box{
                .slick-dots{
                    width:100%;
                    }
                .product-box__item__wrap{
                    .product-box__item{
                        padding-left: 15px;
                        padding-right: 15px;
                        width: 100%;
                        .product-box__img{
                            img{
                                width: 100%;
                                }
                            }
                        .product-item__head{
                            width: calc(100% - 30px);
                            }
                        .product-box__info{
                            width: 100%;
                            }
                        }
                    }
                 .next{
                    right: 0;
                    }
                .prev{
                    left: -30px;
                    z-index: 200;
                    }
                }
            }
       }

       @media (max-width: 820px) {
        .bests{
             .product-box{
                 .next{
                    right: 25px;
                    }
                .prev{
                    left: -5px;
                    }
                }
            }
       }

       @media (max-width: 640px) {
        .bests{
             .product-box{
                 .slick-dots{
                    bottom: -20px;
                     }
                }
            }
       }