.slide-box{
    margin-bottom: 0!important;
    .slide-box__item{
        position: relative;

        .slide-box__img{
            position: relative;
            }
        .container{
            top: 86px;
            position: relative;
            z-index: 300;
            }
        .slide-box__text{
            position: absolute;
            padding-left: 20px;

            .slide-box__name{
                font-size: 35px;
                color: #fff;
                font-family: m700;
                }
             .main-text{
                font-family: m900;
                font-size: 46px;
                color: #fff;
                line-height: 1.2;
                }
              .slide-desc{
                font-size: 16px;
                color: #fff;
                font-family: m500;
                margin-top: 20px;
                margin-bottom: 35px;
                }
             .btns{
                display: flex;
                align-items: center;
                font-size: 16px;
                .site_btn{
                    width: 250px;
                    height: 50px;
                    margin-right: 47px;
                    position: relative;
                    a{
                        color: #fff;
                        margin-right: 19px;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        z-index: 2;
                        text-decoration: none!important;
                        }
                    svg{
                        z-index: 1;
                        width: 20px;
                        height: 16px;
                        position: absolute;
                        right: 20px;

                        }
                    }
                 .slide_btn-wrap{
                    display: flex;
                    align-items: center;
                    a{
                        margin-right: 17px;
                        color: #fff;
                        text-decoration: underline;
                        }
                    svg{
                        width: 20px;
                        height: 16px;
                        }
                    }
                }
            }
        .slide-box__img{
            .slide_xs_img{
                display: none;
                }
            }
        }
        /************/

        .prev{
            top: 50%;
            left: 10%;
            z-index: 100;
            opacity: .7;
            transform:translate(0,-50%);
            }
        .next{
            bottom: 50%;
            right: 10%;
            left:unset !important;
            }

    }
    .slider_wrapp{
        position: relative;
        height: 485px;

        .counter-container{
            position: absolute;
            left: 50%;
            transform:translateX(-50%);
            display: flex;
            flex-direction:column;
            align-items: flex-end;


            .counter_text{
                color:  rgba(255, 255, 255, 0.8);;
                line-height: 1.1;
                font-size: 14px;
                font-family: m500;
                position: relative;
                left: -70px;
                top: -165px;
                }
            .counter{
                font-family: m700;
                color: #bcbcbc;
                font-size: 25px;
                position: relative;
                top: -180px;
                .key-counter{
                    color: #fff;
                    font-size: 35px;
                    }

                .slick-dots{
                    position: static;
                    width: auto;
                    height: auto;
                    display: flex;
                    margin-top: 5px;
                    li{
                        display: flex;
                        align-items: center;
                        width: auto;
                        height: auto;
                        background:transparent;
                        padding: 5px 0!important;
                        margin-right: 15px;
                        &:last-child{
                            margin-right: 0;
                            }
                        &.slick-active{
                            button{
                                background:#fff;
                                }
                            }
                        button{
                            padding: 0;
                            width: 41px;
                            height: 2px;
                            background:#bcbcbc;
                            }
                        &.slick-active{

                            }
                        }
                    }
                }
            }
        }
@media (max-width: 1750px) {
    .slide-box{
         .prev{
            left: 5%;
            }
        .next{
            right: 5%;
            }
        }
}
@media (max-width: 1550px) {
    .slide-box{
         .prev{
            left: 1%;
            }
        .next{
            right: 1%;
            }
        }
}

@media (max-width: 1366px) {
    .slide-box{
         .slide-box__item{
             .slide-box__text{
                left: 100px;
                padding-left: 0;
                }
            }
        }
}
@media (max-width: 1199px) {
    .slide-box{
         .slide-box__item{
             .slide-box__text{
                left: 20px;

                }
            }
        }
}
@media (max-width: 1100px) {
    .slide-box{
         .slide-box__item{
             .slide-box__text{
                left: 100px;

                }
            }
        }
}
@media (max-width: 991px) {
    .slide-box{
         .slide-box__item{
             .container{
                top: 40px;
                }
             .slide-box__text{
                left: 20px;

                }
            }
        }
  .slider_wrapp{
     .counter-container{
        left: 0;
        .counter{
            top: -100px;
            }
         .counter_text{
            left: 230px;
            top: -146px;
            }
        }
    }
}
@media (max-width: 850px) {
    .slide-box{
         .slide-box__item{
             .slide-box__text{
                left: 70px;
                }
            }
        }

}
@media (max-width: 767px) {
    .slide-box{
         .slide-box__item{
             .slide-box__text{
                .main-text{
                    font-size: 35px;
                    }
                }
            }
        }
  .slider_wrapp{
     .counter-container{
        left: 25%;
        }
    }
}
@media (max-width: 650px) {
    .slide-box{
         .slide-box__item{
            .slide-box__text{
                top: 80px;
                text-shadow: 2px 2px 1px rgba(0,0,0,.4);
                }
            .slide-box__img{
                position: relative;
                height: 485px;
                .slide_md_img{
                    display: none;
                    }
                .slide_xs_img{
                    display: block!important;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                    }
                }
             .slide-box__text{
                .main-text{
                    font-size: 35px;
                    }
                }
            }
        }
  .slider_wrapp{
     .counter-container{
        display: none;
        }
    }
}

@media (max-width: 550px) {
    .slide-box{
         .slide-box__item{
             .slide-box__text{
                top: 40px;
                left: 20px;
                .btns{
                    align-items: flex-start;
                    flex-direction: column;
                    .site_btn{
                        order:2;
                        margin-top: 1.5rem;
                        a{
                            margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
}

@media (max-width: 407px) {
    .slide-box{
         .slide-box__item{
             .slide-box__text{
                .slide-box__name{
                    font-size: 20px;
                    }
                .main-text{
                    font-size: 30px;
                    }
                .btns{
                    align-items: flex-start;
                    flex-direction: column;
                    .site_btn{
                        order:2;
                        margin-top: 1.5rem;
                        a{
                            margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
}