.widget-container{
    margin-top: 45px;
    border-bottom: 1px solid #E4E6F2;
    position: relative;
    // margin-bottom: 100px;
    }
.widget-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
    position: relative;
    .btn-link{
        width: 211px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.05);
        border-radius: 50px;
        color: #4D565F;
        margin-right: 125px;
        font-family: m500;
        text-decoration: none!important;
        &.nomargin{
            margin-right: 0;
            }
        }
    }
.solutuion-box{
   margin-right: -30px;
   margin-bottom: 40px;
   /**************/
   .prev{
        position: absolute;
        top: -73px;
        right: 91px;
        }
    .next{
        right: 30px;
        }
    }
.solutuion-box__item{
    margin-right: 30px;
    display: block;
    text-decoration: none!important;
    position: relative;

    span{
        display: block;
        }
    .solution-box__item__innerBox{
        width: 300px;
        .solutuion-box__item__name{
            font-size: 18px;
            color: #373E44;
            font-family: m700;
            margin-top: 16px;
            }
        .solutuion-box__item__img{
            img{
                border-radius: 10px;
                }
            }
        }
    }
    @media (max-width: 1365px) {
        .solutuion-box__item{
             .solution-box__item__innerBox{
                width: 100%;
                 .solutuion-box__item__img{
                    display: block;
                     img{
                        width: 100%!important;
                        }
                    }
                }
            }
    }
   @media (max-width: 991px) {
        .widget-header{
            .page_title{
                width: 100%;
                margin-bottom: 1rem;
                }
            }
    }
@media (max-width: 350px) {
    .widget-header{
         .btn-link{
            margin-right: 0;
            }
        }
}