.works{
    margin-top: 35px;
    }

.srvices-carousel{
    margin-right: -30px;
    .prev{
        position: absolute;
        top: -73px;
        right: 91px;
        }
    .next{
        right: 30px;
        }
    .services__item-wrap{
        margin-right: 30px;
        .services__item{
            .services__item-img{
                img{
                    border-radius: 10px;
                    }
                }
            .services__item-title{
                font-family: m700;
                font-size: 18px;
                color: #373E44;
                margin-top: 18px;
                margin-bottom: 8px;
                }
            .services__item-desc{
                font-family: m500;
                font-size: 14px;
                color: #989898;
                }
             .services__item__link{
                display: flex;
                align-items: center;
                margin-top: 20px;
                a{
                    color: #4D565F;
                    font-family: m500;
                    text-decoration: underline;
                    margin-right: 18px;
                    }
                    svg{
                        width: 16px;
                        height: 13px;
                        }
                }
            }
        }
    }

@media (max-width: 1365px) {
    .srvices-carousel{
         .services__item-wrap{
             .services__item{
                 .services__item-img{
                     img{
                        width: 100%;
                        }
                    }
                }
            }
        }
}
@media (max-width: 1199px) {
    .srvices-carousel{
         .services__item-wrap{
             .services__item{
                 .services__item-title{
                    min-height: 50px;
                    }
                 .services__item-desc{
                    min-height: 100px;
                    }
                }
            }
        }
}