.review-contents-widget{
    margin-right: -15px;
    margin-top: 3rem;
    h2{
        font-family: m900;
        font-size: 26px;
    }
}
.reviewBox__item{
padding: 1.5rem;
margin-right: 15px;
border: 1px solid #c5c5c5;
position: relative;
.revBody{
    display: flex;
    flex-direction: column;
    min-height: 220px;
}

.sendReview{
                            background: #FFFFFF;
                            border: 1px solid #D9DAE4;
                            box-sizing: border-box;
                            border-radius: 50px;
                            height: 40px;
                            width: 200px;
                            font-size: 16px;
                            position: relative;
                            overflow: hidden;
                            z-index: 10;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-decoration: none!important;
                            color: #fff;
                            margin-top: auto;
                            &::before{
                                    content:"";
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    // border-radius: 50px;
                                    background: linear-gradient(90deg, #A93FC0 0%, #C751E1 100%);
                                    top: 0;
                                    left: 0;
                                    transition:all .8s;
                                    z-index: -1;

                                    }
                            &::after{
                                    content:"";
                                    position: absolute;
                                    width: 100%;
                                    height: 0;
                                    // border-radius: 50px;
                                    background: linear-gradient(90deg, #A93FC0 0%, #C751E1 100%);
                                    top: 0;
                                    right: -100%;
                                    transition:all .8s;
                                    z-index: -1;

                                    }

                            }
}


.review-carousel{
    .prev{
        top: -65px;
        right: 70px;
    }

    .next{
        right: .75rem;
    }
}

@media (max-width: 991px) {
    .review-contents-widget{
        h2{
            margin-bottom: 0!important;
        }
    }
}

@media (max-width: 767px) {
    .reviewBox__item{
        .revBody{
            min-height: 180px;
        }
    }
    .revText{
        margin-bottom: 1rem;
    }
}