.reviews-wrap{
    .review-product{
        .review-product__header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2{
                font-size: 26px;
                color: #232323;
                font-family: $g;
                }
             a{
                font-size: 16px;
                color: #232323;
                font-family: $m500;
                display: flex;
                align-items: center;
                span{
                    text-decoration: underline;
                    }
                i{
                    font-size: 10px;
                    padding-top: 3px;
                    display: block;
                    margin-left: 17px;
                    color: #737373;
                    }
                }
            }
        .review-page{
            .review-page__items{
                background:#fff;
                margin-bottom: 29px;
                padding: 40px 40px 50px;
                .review-page__info{
                    width: 70%;
                    .review-page__name{
                        margin-bottom: 10px;
                        .name{
                            font-family: $m900;
                            color: #232323;
                            margin-right: 29px;
                            }
                         .date{
                            color: #7c7c7c;
                            font-family: $m100;
                            }
                        }
                    }
                 .review-page__link{
                    font-size: 16px;
                    color: #232323;
                    font-family: $m500;
                    text-decoration: underline;
                    margin-top: 15px;
                    }
                }
            }
            .but-black{
                border: none;
                margin-bottom: 3rem;
                }
        }
    }
    /************/
    @media (max-width: 640px) {
        .reviews-wrap{
             .review-product{
                 .review-page{
                     .review-page__items{
                         .review-page__info{
                            width: 100%;
                            }
                        }
                    }
                }
            }
    }