   .review-form_wrap{
        margin-bottom: 5rem;
        .page_title{
            margin-bottom: 25px;
            margin-top: 25px;
            }
        }
#review-box{
    margin-top: 3rem;
    .review-page{
    .review__items{
            padding: 35px;
            background:#fff;
            margin-bottom: 2rem;
            &:last-child{
                margin-bottom: 0;
                }
             .review__name{
                font-family: $m900;
                font-size: 18px;
                margin-bottom: 25px;

                }
             .date{
                font-family: $m500;
                color: #565656;
                }
            }

        }
    }

.review-form{
    h2{
        bottom: 25px;
        }
     form{

        label{
            display: none;
            }
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         .row-input{
            width: 48%;
            .form-group{
                input{
                    height: 40px;
                    width: 100%;
                    border: 1px solid #ccc;
                    border-radius: 0;
                    box-shadow: none;
                    }
                }

          }
         .row-textarea{
            width: 48%;
            .form-group{
                textarea{
                    height: 150px;
                    width: 100%;
                    }
                }
            .form-bot{
                .but-black{
                    border: none;
                    margin-top: 1rem;
                   }
                }
        }
  }
}
@media (max-width: 767px) {
    .review-form{
        form{
            .row-input{
                width: 100%;
                .form-group{
                    width: 100%;
                    input{
                        display: block;
                        width: 100%;
                        }
                    }
                }
          .row-textarea{
            width: 100%;
            margin-top: 25px;
            }
            }
        }
}
@media (max-width: 335px) {
    .review-form{
        form{
            .row-input{
                width: 100%;
                .form-group{
                    width: 100%;
                    input{
                        display: block;
                        width: 100%;
                        }
                    }
                }
          .row-textarea{
            width: 100%;
            margin-top: 25px;
             .form-bot{
                .g-recaptcha{
                    transform:scale(.8,.8) translateX(-30px);
                    }
                }
            }
            }
        }
}