.about_wrapp{
    padding-top: 30px;
    padding-bottom: 35px;
    h3,h4{
        font-family: m900;
    }
    ul{
        padding-left: 0;
        font-family: m500;
    }
    }
.about-list{
    padding-left: 0;
    list-style-type: none;
    font-family: m500;
}
