.akcii{
	.akcii-inner{
		display: flex;
		justify-content: space-between;
		.akcii-item{
			width: 410px;
			height: 510px;
			position: relative;
			overflow: hidden;
			transition:  opacity .5s;
			.akcii-item__head{
				position: absolute;
				top: 20px;
				left: 20px;
				width: 170px;
				height: 25px;
				text-align: center;
				line-height: 25px;
				background: #fff;
				opacity: 0;
				transition: opacity .5s;
			}
			.akcii-item__foot-show{
				font-size: 16px;
				color: #fff;
				position: absolute;
				bottom: 30px;
				left: 40px;
				opacity: 0;
				transition: opacity .5s;
				ul{
					padding-left: 20px;
					li{
						line-height: 25px;
					}
				}
				span{
					padding-left: 0px;
				}
			}
			.akcii-item__foot{
				position: absolute;
				bottom: 20px;
				left: 20px;
				font-size: 35px;
				color: #FCFCFC;
				transition: opacity .5s;
				font-family: m700, sans-serif;
				span{
					color: #D647F4;
				}
			}
			.akcii-item__foot1{
				position: absolute;
				bottom: 20px;
				left: 20px;
				font-size: 35px;
				color: #FCFCFC;
				transition: opacity .5s;
				font-family: m700, sans-serif;
				span{
					color: #D647F4;
				}
			}
			&:hover {
				.akcii-item__head,
				.akcii-item__foot-show{
					opacity: 1;
				}
				.akcii-item__foot1{
					opacity: 0;
				}
				background: transparent 60%;
				// background-image: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0.80)) !important;

			}
		}
	}
}


@media (max-width: 1400px){
	.akcii{
		.akcii-inner{
			display: flex;
			.akcii-item{
				margin-right: 10px;
				margin-left: 10px;
			}
		}
	}
}

@media (max-width: 1000px){
	.akcii{
		.akcii-inner{
			display: flex;
			.akcii-item{
				margin-right: 10px;
				margin-left: 10px;
				.akcii-item__foot,
				.akcii-item__foot1{
					font-size: 25px;
				}
				.akcii-item__foot-show{
					left: 10px;
				}
			}
		}
	}
}

@media (max-width: 700px){
	.akcii{
		.akcii-inner{
			display: block;
			.akcii-item{
				margin: 0 auto 20px auto;
			}
		}
	}
}

@media (max-width: 450px){
	.akcii{
		.akcii-inner{
			display: block;
			.akcii-item{
				width: 100%;
				height: 450px;
			}
		}
	}
}