.site_btn{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff!important;
        font-size: 16px;
        font-family: m500;
        background: linear-gradient(90deg, #A93FC0 0%, #C751E1 100%);
        mix-blend-mode: normal;
        border-radius: 50px;
        text-decoration: none!important;
        }
.btn-cart{
         border: none;
         width: 192px;
         height: 50px;
        svg{
                width: 20px;
                height: 15px;
                fill:#fff;
                display: block;
                margin-right: 13px;
                }
        }
.calling{
     @extend .site_btn;
     background:#373E44;
     width: 192px;
     height: 50px;
     margin-left: 20px;
     &.ml0{
        margin-left: 0!important;
        }
      }



/* Кнопка в интерьере */

.inter {
    width: 250px;
    margin: 0 auto;
    height: 50px;
    font-size: 18px;
    margin-bottom: 50px;
  }

.pagination-box{
    ul.pagination{
        .prev,
        .next{
            width: 0;
            height: 0;
            &::after{
                position: none;
            }
        }

    }

}