/*О компании*/
.about {
  a {
    display: inline-block;
  }
  li {
    list-style-position: inside;
  }
}

/*contacts*/
main{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
   margin:3rem 0;
   align-items: center;
  .avantis_img{
    width: 369px;
    padding: 1rem;
    background:#fff;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    img{
      width: 100%;
         }
  }
  .our_contacts{
    width: 48%;

  .adress{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #ccc;
    .name{
      width: 100px;
      height: 50px;
      display: flex;
      align-items: center;
       font-family: 'Proxima Nova Condensed Bold';
       font-size: 18px;
       i{
        display: block;
        margin-right: 10px;
       }
    }
    .detail{
     font-size: 16px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding-left: 40px;
    }
  }
}
}

.contact__info{
   display: flex;
   flex-wrap: wrap;
   }
  .contact__info-item {
    padding-right: 40px;
    margin-bottom: 20px;
    width: 33%;
    // min-width: 180px;
}
.contact__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    }
.contact {
    .contact-info__title {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 10px;
        }
        .contact .contact-info__desc {
        font-size: 16px;
        font-weight: 400;
        }
    }


.map_box{
  margin-bottom: 3rem;
  }

@media (max-width: 991px) {
  main{
    .avantis_img{
      width: 48%;
    }
     .our_contacts{
      justify-content: space-between;
       .adress{
        width: 100%;
        margin-bottom: 10px;
        .name{
          width: 100%;
          height: 35px;
        }
         .detail{
           padding-left: 0;
          }
       }
     }
  }
}

  @media (max-width: 767px) {
    .contact__info{
      justify-content: space-between;
      }
      .contact__info-item{
        width: 48%;
        margin-right: 0;
        }
        main{
    .avantis_img{
      display: none;
    }
     .our_contacts{
      justify-content: space-between;
      width: 100%;
       .adress{
         .detail{

          }
       }
     }
  }
  }

  @media (max-width: 575px) {
      .contact__info-item{
        width: 100%;
        }
  }