  html{
    font-family: m500;
    font-size: 16px;
    height: 100%;
  }
  body{
    font-size: 16px;
    height: 100%;
    &.overflow{
        overflow-y: hidden;
        }
    }
@mixin fontface($name_font, $src) {
  @font-face {
      font-family: quote($name_font);
      src: url(quote("../fonts/" + $name_font + ".eot"));
      src: url(quote("../fonts/" + $src + ".eot?#iefix")) format("embedded-opentype"),
      url(quote("../fonts/" + $src + ".woff")) format("woff"),
      url(quote("../fonts/" + $src + ".ttf")) format("truetype");
  }
}

@include fontface("m100", "MuseoSansCyrl-100");
@include fontface("m500", "MuseoSansCyrl-500");
@include fontface("m700", "MuseoSansCyrl-700");
@include fontface("m900", "MuseoSansCyrl-900");
.wrapper {
  max-width: 1920px;
  min-width: 260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  background:#f8f8f8;

  .content {
    flex: 1 0 auto;
    position: relative;
      }
  .footer {
    flex: 0 0 auto;
    }
  }


  $svg:#4f5964;
  $accent:#A93FC0;
   .page_title{
      font-size: 35px;
      font-family: m900;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1.2;
      &.have-margin{
          margin-bottom: 30px;
          }
      @media (max-width: 480px) {
        font-size: 25px;
      }
      }
    .store-title{
        font-family: gilroyblack;
        color: #fff;
        padding-bottom: 50px;
        margin-bottom: 0;
        }

    .container {
         @media (min-width: 1366px) {
          padding: 0;
           width: 1290px;
           }
           &::before{
             display: none!important;
             }
          &::after{
             display: none!important;
             }
         }

  .d-flex{
     display: flex;
     flex-wrap: wrap;
     }


  a{
    display: block;
    text-decoration: none;
    }



    .breadcrumbs_wrap{
        @media (max-width: 767px) {
          width: 100%!important;
          }
        }
    .breadcrumb{
        margin-bottom: 0;
        background:transparent;
        padding-left: 0;
        padding-right: 0;
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
        font-family: m500;
        @media (max-width: 575px) {
          display: none;
        }
        li{
             display: flex;
             align-items: center;
             font-size: 14px;
                  &::before{
                      padding: 0 5px 0 10px!important;
                      color: #909090;
                      }
              &.active{
                  color: #909090;
                  }
              a{
                  color: #909090;
                  }
              }
        }

.prev{
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        box-shadow: 2px 2px 10px rgba(0,0,0,.1);
        background:rgba(255,255,255,.7);
        cursor:pointer;
        transition:all .4s;
        position: absolute;
        &:hover{
            &::after{
                opacity: 1;
                }
            svg{
                fill:#fff;
                }
            }
        &::after{
            content:"";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: linear-gradient(90deg, #A93FC0 0%, #C751E1 100%);
            z-index: 1;
            opacity: 0;
            transition:all .5s;
            }
        svg{
            width: 20px;
            height: 16px;
            fill:#000;
            position: relative;
            z-index: 2;
            transition:all .5s;
            }
        }
     .next{
        @extend  .prev;
        left:unset;
        }

.hr{
  height: 1px;
  background:#D9DAE4;
  margin-top: 50px;
  margin-bottom: 30px;
  }

  .tooltips{
    position: relative;
    font-family: m500;
    color: #6f6f6f;
    margin-bottom: 30px;
    span{
        text-decoration: underline;
        }
    .tooltip_box{
        position: absolute;
        background:#fff;
        width: 325px;
        padding: 2rem;
        top: -170px;
        left: 100px;
        box-shadow: 3px 3px 15px rgba(0,0,0,.15);
        display: none;
        &::before{
          content:"";
          position: absolute;
          width: 15px;
          height: 15px;
          bottom: -15px;
          border-top: 15px solid #fff!important;
          border-right:15px solid transparent;
          border-left:15px solid transparent;
          }
        }
  }
  .show-params{
    display: flex;
    align-items: center;
    width: auto;
    text-decoration: none!important;
    color: $accent!important;
    font-family: m500;
    span{
        text-decoration: underline;
        }
    i{
      height: 12px;
      display: inline-block;
      margin-left: 5px;
      }
    }
    .link-params{
      @extend .show-params;
      margin-top: 10px;
    }
    .params-preview{
        margin-top: 35px;
      }
    .params-preview__content-ofTable{
  table{
      width: 100% !important;
      border: none;
      tr{
        &:nth-child(-n+4){
          display: table-row;
          }
        td{
          border-color: #8b8b8b;
          padding: 10px 0;
          width: 40%;
          font-family: m100;
            &:nth-child(1){
            position: relative;
            &::after{
              content:"";
              position: absolute;
              width: 100%;
              height: 1px;
              background:url('../images/b.png')repeat-x;
              top: 50%;
              left: 0;
              }
          span{
            display: inline-block;
            background:#f8f8f8;
            position: relative;
            z-index: 10;
            padding-right: 5px;
          }
            }
          &:nth-child(2){
          color: #212121!important;
          font-family: m700;
          width: 60%;
          padding-left: 10px;
          }
        }
      }
    }
  }
  .product-price__old{
    span{
        font-size: 14px;
        text-decoration: line-through;
        color: #6f6f6f;
        }
    }

    /***********************/
    #callbackModal2,#callbackModal{
    .modal-content {
        border-radius: 0;
        width: 400px;
        .calling{
            margin-left: 0;
            }
        @media (max-width:420px) {
        width: 100%;
        }
        .modal-footer{
            border-top: 0;
            }
        .g-recaptcha{
            @media (max-width:365px) {
                transform:scale(.8,.8) translateX(-35px);
            }
            }
        border: 2px solid #373e44;
        .modal-title{
            font-family: m900;
            color: #373e44;
            }
        label{
            display: none;
            .required{
                color: #212121;
                }
            }
        .form-button{
            margin-top: 1rem;
            .blue{
                border: 0;
                width: 200px;
                }
            }
    .terms_of_use{
        margin-top: 1rem;
        font-size: 12px;
        color: #616161;
        }
    .form-group{
        width: 100%;
        input{
            width: 100%;
            height: 40px;
            box-shadow: none;
            border: 0;
            border-bottom: 1px solid #373e44;
            border-radius: 0;
            font-family: m500;
            &::placeholder{
                font-family: m100;
                }
            &:focus{
                &::placeholder{
                    opacity: 0;
                    }
                }
            }
        textarea{
            @extend input;
            height: 100px;
            border: 1px solid #373e44;
            }
        }
    .close{
        width: 25px;
        height: 25px;
        background: url('../images/close.svg')no-repeat center center;
        background-size: 25px;
        font-size: 0;
        opacity: 1;
        }
    }
}
#CallbackFormEmail{
    @extend #callbackModal;
    .modal-content{
        width: 500px;
        @media (max-width:540px) {
            width: 100%;
            }
            .site_btn{
                width: 200px;
                height: 47px;
                border: none;
                }
        }
    }
#callback-modal{
    @extend #CallbackFormEmail;
    .modal-content{
        .description-message{
            font-family: gtl;
            }
        .modal-title{

            }
         .price{
            span{
                color: $accent;
                font-size: 17px;
                font-family: gtb;
                }
            }
         .modal-footer{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;
            &::before,&::after{
                display: none!important;
                }
             .site_btn{
                margin-right: 20px;
                margin-left: auto;
                border: none;
                width: 190px;
                order:-1;
                height: 47px;
                }
             .btn-default{
                height: 47px;
                border-radius: 0;
                }
            }
        }
    }

    .fimg{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 100;
        }
#searchModal{
      input{
          border-radius: 0;
          height: 40px;
          }
    .input-group-btn{
        button{
          border-radius: 0;
          padding: 0;
          height: 40px;
          width: 40px;
          border: none;
          background:$accent;
            svg{
                width: 20px;
                height: 20px;
                fill:#fff;
                }
            }
        }
    }



    /****************************/
           .preloader{
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255, 255, 0.98);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#circularG{
  position:relative;
  width:68px;
  height:68px;
  margin: 15px 0px 0;

}

@media (max-width: 480px){
  .preloader {
    img{
      max-width: 200px;
    }
  }
}

.circularG{
  position:absolute;
  background-color:$accent;
  width:16px;
  height:16px;
  border-radius:10px;
    -o-border-radius:10px;
    -ms-border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
  animation-name:bounce_circularG;
    -o-animation-name:bounce_circularG;
    -ms-animation-name:bounce_circularG;
    -webkit-animation-name:bounce_circularG;
    -moz-animation-name:bounce_circularG;
  animation-duration:1.1s;
    -o-animation-duration:1.1s;
    -ms-animation-duration:1.1s;
    -webkit-animation-duration:1.1s;
    -moz-animation-duration:1.1s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

#circularG_1{
  left:0;
  top:27px;
  animation-delay:0.41s;
    -o-animation-delay:0.41s;
    -ms-animation-delay:0.41s;
    -webkit-animation-delay:0.41s;
    -moz-animation-delay:0.41s;
}

#circularG_2{
  left:7px;
  top:7px;
  animation-delay:0.55s;
    -o-animation-delay:0.55s;
    -ms-animation-delay:0.55s;
    -webkit-animation-delay:0.55s;
    -moz-animation-delay:0.55s;
}

#circularG_3{
  top:0;
  left:27px;
  animation-delay:0.69s;
    -o-animation-delay:0.69s;
    -ms-animation-delay:0.69s;
    -webkit-animation-delay:0.69s;
    -moz-animation-delay:0.69s;
}

#circularG_4{
  right:7px;
  top:7px;
  animation-delay:0.83s;
    -o-animation-delay:0.83s;
    -ms-animation-delay:0.83s;
    -webkit-animation-delay:0.83s;
    -moz-animation-delay:0.83s;
}

#circularG_5{
  right:0;
  top:27px;
  animation-delay:0.97s;
    -o-animation-delay:0.97s;
    -ms-animation-delay:0.97s;
    -webkit-animation-delay:0.97s;
    -moz-animation-delay:0.97s;
}

#circularG_6{
  right:7px;
  bottom:7px;
  animation-delay:1.1s;
    -o-animation-delay:1.1s;
    -ms-animation-delay:1.1s;
    -webkit-animation-delay:1.1s;
    -moz-animation-delay:1.1s;
}

#circularG_7{
  left:27px;
  bottom:0;
  animation-delay:1.24s;
    -o-animation-delay:1.24s;
    -ms-animation-delay:1.24s;
    -webkit-animation-delay:1.24s;
    -moz-animation-delay:1.24s;
}

#circularG_8{
  left:7px;
  bottom:7px;
  animation-delay:1.38s;
    -o-animation-delay:1.38s;
    -ms-animation-delay:1.38s;
    -webkit-animation-delay:1.38s;
    -moz-animation-delay:1.38s;
}



@keyframes bounce_circularG{
  0%{
    transform:scale(1);
  }

  100%{
    transform:scale(.3);
  }
}

@-o-keyframes bounce_circularG{
  0%{
    -o-transform:scale(1);
  }

  100%{
    -o-transform:scale(.3);
  }
}

@-ms-keyframes bounce_circularG{
  0%{
    -ms-transform:scale(1);
  }

  100%{
    -ms-transform:scale(.3);
  }
}

@-webkit-keyframes bounce_circularG{
  0%{
    -webkit-transform:scale(1);
  }

  100%{
    -webkit-transform:scale(.3);
  }
}

@-moz-keyframes bounce_circularG{
  0%{
    -moz-transform:scale(1);
  }

  100%{
    -moz-transform:scale(.3);
  }
}