footer{
    background:#353036;
    padding-top: 35px;
    .d-flex{
        justify-content: space-between;
        margin-bottom: 35px;
        }
    .footer_brand{
        span{
            display: block;
            }
        .footer__logo__salon{
            color: #F8E2AC;
            font-size: 14px;
            font-family: m100;
            margin-bottom: 15px;
            }
        .footer__copyright{
            color: #A19AA2;
            font-size: 14px;
            font-family: m500;
            }
        }
    }
.footer__menu{
    color: #d0d0d0;
    .footer__menu__title{
        font-family: m900;
        color: #fff;
        margin-bottom: 25px;
        }
    .social{
        display: flex;
        align-items: center;
        margin-top: 39px;
        text-decoration: none!important;
        span{
            margin-left: 11px;
            color: #d0d0d0;
            font-family: m500;
            }
        svg{
            fill:#fff;
            width: 22px;
            height: 22px;
            }
        }
     ul{
        margin-bottom: 0;
        list-style-type: none;
        padding-left: 0;
        font-family: m500;
        li{
             width: 210px;
             margin-bottom: 10px;
             &:last-child{
                margin-bottom: 0;
                }
            a{
                color: #D0D0D0;
                text-decoration: none!important;
                }
            }
        }
    .phone-footer{
        color: #F8E2AC;
        font-family: m700;
        text-decoration: none!important;
        }
    .footer__w-mode{
        font-size: 14px;
        font-family: m500;
        }
    .footer__call{
        font-family: m100;
        color: #A19AA2;
        text-decoration: underline;
        }
     .footer-mail{
        color: #F8E2AC;
        font-family: m500;
        margin-top: 29px;
        text-decoration: none!important;
        } 
    }
.category-footer{
    display: flex;
    flex-wrap: wrap;
    .li_wrap{
        &:first-child{
            margin-right: 20px;
            }
            &:last-child{
            width: 90px;
            li {
                width: 100%;
            }
            }
        }
    }

    /************=========footer-botom==========**************/
    .footer-botom{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: #A19AA2;
        font-size: 14px;
        padding: 20px 0;
        border-top: 1px solid #423C43;
        .dcmedia{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-right: 20%;
            .dcmedia__img{
                width: 105px;
                height: 25px;
                display: block;
                background:transparent url('../images/dc.svg') center center no-repeat;
                background-size: 105px 25px;
                }
             .dcmedia__title{
                color: #A19AA2;
                margin-left: 23px;
                }
            }
        }

@media (max-width: 1365px) {
    .category-footer{
         .li_wrap{
            &:first-child{
                margin-right: 43px;
                }
            }
        }
}
@media (max-width: 1199px) {
    .category-footer{
        flex-direction: column;
         .li_wrap{
            &:first-child{
                margin-right: 0;
                margin-bottom: 10px;
                }
            }
        }
  .footer-botom{
         .dcmedia{
            margin-right: 0;
            }
        }
}
@media (max-width: 991px) {
    .footer__menu{
        width: 50%;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        ul{
            width: 231.6px;
            align-items: flex-start;
            }

         &.contacts{
            align-items: flex-start;
            }
        }
}
@media (max-width: 575px) {
    .footer__menu{
        width: 100%;
        margin-bottom: 2rem;
       align-items: center;
         .footer__menu__title{
            align-items: flex-start;
            width: 231.6px;
            }
         &.contacts{
            width: 231.6px;
            }
        }
    footer{
         .d-flex{
            justify-content: center;
            }
        .footer_brand{
            margin-bottom: 2rem;
            }

        }
  .footer-botom{
         .dcmedia{
            flex-direction: column;
            align-items: flex-start;
            .dcmedia__title{
                margin-left: 0;
                }
            }
        }
}

@media (max-width: 406px) {
    .footer-botom{
        flex-direction: column;
        align-items: center;
        .rights{
            width: 213.49px;
            margin-bottom: 10px;
            }
        }
}