.page-layout{
    padding-bottom: 50px;
    }
.interer-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:15px;
    span{
        display: block;
        }
    .interer-box__item{
        position: relative;
         &::before{
            content:"";
            position: absolute;
            width: 100%;
            height: 100%;
            background:rgba(0,0,0,.5);
            z-index: 5;
            }
        &::after{
            content:"";
            position: absolute;
            width: 95%;
            height: 1px;
            background:#fff;
            left: 50%;
            bottom: 5%;
            transform:translate(-50%, -50%);
            z-index: 10;
            }
            .interer-box__item__img{
                position: relative;
                height: 260px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    object-fit: cover;
                    }
                }
        .interer-box__item__name{
            position: absolute;
            left: 50%;
            top: 50%;
            transform:translate(-50%,-50%);
            font-family: m900;
            font-size: 2rem;
            color: #fff;
            z-index: 15;
            }
        }
    }
@media (max-width: 1199px) {
    .interer-box{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 30px;
        }
}

@media (max-width: 767px) {
    .interer-box{
         .interer-box__item{
             .interer-box__item__name{
                font-size: 18px;
                }
            }
        }
}

@media (max-width: 575px) {
    .interer-box{
        grid-template-columns: repeat(1,1fr);
        }
}