header{
    padding-top: 12px;
    padding-bottom: 10px;
    svg{
        width: 100%;
        height: 100%;
        fill:$svg;
        }
    a{
        color: #4D565F;
        &:hover{
            text-decoration: none;
            }
        }
    .d-flex{
        align-items: center;
        justify-content: space-between;
        }
     .header__top{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        }
    .logo{
        padding-left: 17px;
        span{
            display: block;
            line-height: 1;
            color: $accent;
            font-size: 14px;
            letter-spacing: .2px;
            }
        }
     .mail-main{
        line-height: 1;
        display: flex;
        a{
            font-family: m500;
            font-size: 16px;
            &:last-child{
                margin-left: 14px;
                margin-right: 40px;
                text-decoration: underline;
                font-size: 14px;
                color: #B0B0B0;
                }
            }
        }
     .phone-main{
        font-family: m700;
        font-size: 16px;
        }
       .w-mode{
            color: #B0B0B0;
            margin-left: 14px;
             margin-right: 40px;
            }
      .favorits{
        .toolbar-button{
            display: flex;
            flex-wrap: wrap;
            .but-favorite__icon{
                position: relative;
                width: 20px;
                height: 20px;
                svg{
                    fill:$svg;
                    width: 100%;
                    height: 100%;
                    }
                 .but-favorite__count{
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background:$accent;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 13px;
                    font-family: m500;
                    border-radius: 50%;
                    top: -10px;
                    right: -10px;
                    }
                }
             .but-favorite__icon__text{
                font-family: m500;
                font-size: 16px;
                margin-left: 14px;
                }
            }
        }
    .search{
        width: 20px;
        height: 20px;
        margin-right: 22px;
        margin-left: 25px;
        }
     .cart{
        .but-cart{

            }
        .but-cart__icon{
            position: relative;
            display: flex;
            svg{
                width: 20px;
                height: 20px;
                }
            .but-header__count{
                position: absolute;
                width: 20px;
                height: 20px;
                background:$accent;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 13px;
                font-family: m500;
                border-radius: 50%;
                top: -10px;
                left: 10px;
                }
             .but-cart__sum{
                margin-left: 14px;
                font-size: 16px;
                }
            }
        }
     .user{
        margin-right: 22px;
        a{
        .icon{
                width: 20px;
                height: 20px;
                display: block;
                }
            }
        }
    }
    /******************/
    @media (max-width: 1365px) {
       header{
            .header__top{
                width: calc(100% - 270px);
                justify-content: space-between;
                }
             .phone-main{
                margin-right: 20px;
                }
             .search{
                margin-right: 20px;
                margin-left: 20px;
                }
             .mail-main{
                a{
                    &:last-child{
                        margin-right: 20px;
                        }
                    }
                }
             .w-mode{
                display: none;
                }
            }
    }
    @media (max-width: 1199px) {
       header{
            .header__top{
                width: calc(100% - 240px);
                height: 56px;
                justify-content: space-between;
                align-items: flex-start;
                padding-top: 12px;
                }
             .user{
                margin-right: 20px;
                }
             .phone-main{
                margin-left: 20px;
                }
             .search{
                margin-right: 20px;
                margin-left: 20px;
                }
             .mail-main{
                flex-direction: column;
                height: 100%;
                a{
                    &:last-child{
                        margin-right: 0;
                        margin-left: 0;
                        margin-top: auto;
                        }
                    }
                }
            }
    }

    @media (max-width: 991px) {
        header{
            .header__top{
                padding-top: 0;
                align-items: center;
                }
             .mail-main{
                display: none;
                }
             .phone-main{
                margin-left: 0;
                margin-right: 0;
                }
              .search{
                margin-left: 0;
                margin-right: 0;
                }
               .user{
                    margin-right: 0;
                    }
             .logo{
                 .logo__img{
                    width: 150px;
                    img{
                        width: 100%;
                        }
                    }
                }
            }
    }
@media (max-width: 767px) {
    header{
         .header__top{
            width: 56%;
            }
         .favorits{
             .toolbar-button{
                 .but-favorite__icon__text{
                    display: none;
                    }
                }
            }
        .but-cart__sum{
            font-size: 14px;
            }
        }
    }

    @media (max-width: 747px) {
    header{
       .cart{
             .but-cart__icon{
                left: -10px;
                 .but-cart__sum{
                    display: none;
                    }
                }
            }
       }
   }
