.main-menu{
    position: relative;

    &.fixed{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 900;
        background:#fff;
        box-shadow: 0 0 10px rgba(0,0,0,.15);
        .catalog-link,#menu_header{
            border: none!important;
            }
        }
    .container{
        position: relative;
        }
    .catalog-link{
        display: flex;
        text-decoration: none;
        font-family: m500;
        align-items: center;
        height: 60px;
        padding-left: 20px;
        padding-right: 29px;
        border: 1px solid #E4E6F2;
        border-left: 0;
        span{
            display: block;
            }
        .toggler{
            width: 20px;
            height: 20px;
            position: relative;
            margin-right: 17.5px;
            span{
                position: absolute;
                width: 100%;
                height: 2px;
                background:$accent;
                top: 50%;
                left: 0;
                transform:translate(0,-50%);
                &.open{
                    background:transparent;
                    &::before{
                       transform:rotate(-135deg);
                       top: 0;
                       }
                    &::after{
                       transform:rotate(135deg);
                       bottom: 0;
                       }
                    }
                &::before{
                    position: absolute;
                    content:"";
                    width: 100%;
                    height: 2px;
                    background:$accent;
                    left: 0;
                    top: -5px;
                    transition: all .4s;
                    }
                &::after{
                    position: absolute;
                    content:"";
                    width: 100%;
                    height: 2px;
                    background:$accent;
                    left: 0;
                    bottom: -5px;
                    transition: all .4s;
                    }
                }
            }
         .catalog-limk__name{
            color: $accent;
            margin-right: 13px;
            font-size: 16px;
            }
         .icon{
            width: 11px;
            height: 11px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                width: 100%;
                height: 100%;
                fill:$accent;
                }
            }
        }
    }
    #menu_header{
        margin-bottom: 0;
        padding-left: 5px;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 60px;
        border: 1px solid #E4E6F2;
        border-left: 0;
        border-right: 0;
        width: calc(100% - 238.56px);
        li{
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 22px;
            padding-right: 22px;
            font-size: 17px;
            font-family: m500;
            a{
                color: #4D565F;
                }
            }
        }
    .toggle-menu{
        position: absolute!important;
        left: 50%;
        top: 80%;
        transform:translate(-50%,0);
        background:#fff;
        transition: all 1s;
        z-index: -1;
        opacity: 0;
        height: 0;
        overflow: hidden;
        .close{
            display: none;
            }
        &.full{
        z-index: 500;
        top: calc(100% + 20px);
        opacity: 1;
        transition: all .5s;
        box-shadow: 0 0 15px rgba(0,0,0,.2);
        height: auto;
        overflow: visible;
            }

        &::before{
            content:"";
            position: absolute;
            display: block!important;
            width: 0;
            height: 0;
            top: -20px;
            left: 50px;
            border-style: solid;
            border-width: 0 15px 20px 15px;
            border-color: transparent transparent #fff transparent;
            }
        .menu_toggle{
            display: none;
            }
        .catalog-menu{
            display: flex;
            flex-wrap: wrap;
            padding: 2rem 2rem 1rem;
            .catalog-menu__item{
                width: 25%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 1rem;
                padding: .5rem;
                .catalog-menu__name{
                    width: calc(100% - 115px);
                    font-family: m500;
                    color: #989898;
                    }
                span{
                    display: block;
                    }
                }
        }
    }

/*******************/
@media (max-width: 1365px) {
    #menu_header{
        width: calc(100% - 61px);
        }
    .main-menu{
         .catalog-link{
            padding-right: 20px;
             .toggler{
                margin-right: 0;
                }
             .icon{
                display: none;
                }
             .catalog-limk__name{
                display: none;
                }
            }
        }
}
@media (max-width: 1199px) {
    #menu_header{
        height: auto;
        z-index: 600;
        background:#fff;
        padding-left: 20px;
        display: grid;
        grid-template-columns: repeat(3,auto);
        justify-content: space-between;
        li{
            height: auto;
            padding-left: 0;
            padding-right: 0;
            // width: 278px;
            // font-size: 16px;
            }
        }
    .main-menu{
         .catalog-link{
            padding-right: 20px;
             .toggler{
                margin-right: 0;
                }
             .icon{
                display: none;
                }
             .catalog-limk__name{
                display: none;
                }
            }
        }
   .toggle-menu{
         .catalog-menu{
             .catalog-menu__item{
                width: 33%;
                }
            }
        }
}

@media (max-width: 991px) {
    .toggle-menu{
        width: 95%;
         .catalog-menu{
            justify-content: space-between;
             .catalog-menu__item{
                .catalog-menu__img{
                    width: 50px;
                    img{
                        width: 100%;
                        }
                    }
                 .catalog-menu__name{
                    width: calc(100% - 65px);
                    }
                }
            }
        }
   #menu_header{
        li{
            font-size: 14px;
            }
        }
}

@media (max-width: 700px) {
    .toggle-menu{
         .catalog-menu{
            justify-content: space-between;
            // padding-bottom: 0;
             .catalog-menu__item{
                width: 48%;
                .catalog-menu__img{
                    display: none;
                    }
                 .catalog-menu__name{
                    width:100%;
                    }
                }
            }
        }
}

@media (max-width: 575px) {
    .header_wrap{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin:0 auto;
        }
     header{
     margin:0 auto;
     width: calc(100% - 50px);
     padding-top:0;
     padding-bottom: 15px;
     position: relative;
     .container{
        padding-right: 0;
        }
     .header__top{
        width: 169px;
        justify-content: flex-start;
        padding-top: 20px;
        }
      .phone-main{
        &.two {
            top: 55px;
        }
            order:2;
            font-size: 14px;
            position: absolute;
            left: 20px;
            top: 55%;
            color: $accent;
            }
      .search{
            margin-left: 15px;
            margin-right: 15px;
            }
      .user{
            margin-right: 15px;
            }
      .cart{
             .but-cart__icon{
                left: 0;
                }
            }
     .logo{
        padding-left: 0;
        .logo__name{
            display: none;
            }
        }
     }
    .main-menu{
         &.fixed{
            .d-flex{
                height: 50px;
                align-items: center;

                .catalog-link{
                    margin-left: auto;
                    }
                }
            }
         .d-flex{
            padding-left: 0;
            padding-right: 15px;
            }
         .catalog-link{
            padding: 0;
            border: 0;
            height: auto;
            }
        }
    #menu_header{
        display: none;
        }
 .toggle-menu{
    position: fixed!important;
    right: 0;
    top: 30px;
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    height: 0;

    .catalog_title{
        display: block!important;
        padding-left: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-family: m700;
        position: relative;
        font-size: 18px;
        &::before{
            content:"";
            position: absolute;
            width: calc(100% - 2rem);
            height: 1px;
            background:#989898;
            top: 50%;
            left: 2rem;
            transform:translate(0,-50%);
            z-index: 1;
            opacity: .5;
            }
        span{
            display: inline-block;
            background: #fff;
            position: relative;
            z-index: 10;
            padding-right: 10px;
            }
        }
    .catalog-menu{
        padding-bottom: 1rem;
        padding-top: 0;
        padding-right: 0;
         .catalog-menu__item{
            padding: 0;
            margin-bottom: .5rem;
            }
        }
    .menu_toggle{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 2rem;
        margin-bottom: 0;
        list-style-type: none;
        padding-top: 3rem;
        order:-1;
        li{
            width: 48%;
            display: flex;
            margin-bottom: .5rem;
            a{
                color: #989898;
                }
            }
        }

    &::before{
        display: none!important;
        }
    &.full{
        top: 80px;
        overflow: hidden;
        overflow-y: auto;
        }
    }
}

@media (max-width: 406px) {
    header{
        padding-top: 10px;
        padding-bottom: 0;
        .phone-main{ 
                &.two {
                    top: 24px;
                }
            left: -20px;
            top: 4%;
            }
         .header__top{
            width: 100%;
            padding-top: 0;
            position: relative;
            right: -20px;
            height: 50px;
            }
         .favorits{
            margin-left: auto;
            }
        }
 .main-menu{
    &.fixed{
        .catalog-link{
            top: 0;
            }
        }
    .catalog-link{
        position: relative;
        top: -22px;
        }
    }
  .toggle-menu{
    .close{
        order:-10;
        right: 20px;
        top: 10px;
        left:unset;
        width: 20px;
        height: 20px;
        position: absolute;
        display: inline-block;
        }
    &.full{
        // position: absolute!important;
        top: 20px;

        }
    .menu_toggle{
        flex-direction: column;
        padding-left: 1rem;
        li{
            width: 100%;
            }
        }
     .catalog_title{
        padding-left: 1rem;
        &:before{
            width: calc(100% - 1rem);
            left: 1rem;
            }
        }
     .catalog-menu{
        padding-left: 1rem;
        .catalog-menu__item{
            width: 100%;
            }
        }
        &.full{
            height: 100vh;

            }
    }
}

